<div id="live-chat">
	<div class="clearfix chat-header">
		<a class="chat-close">-</a>
		<h4>Labrina Scholar</h4>
		<span class="chat-message-counter">3</span>
	</div>
	<div class="chat" style="display:none;">
		<div class="chat-history">
			<div class="chat-message">
				<img src="http://placehold.it/40x40" alt="" width="32" height="32" />
				<div class="chat-message-content">
					<span class="chat-time">11:54</span>
					<h5>John Doe</h5>
					<p>Lorem ipsum dolor. Error, explicabo quasi ratione odio dolorum harum.</p>
				</div> <!-- end chat-message-content -->
			</div> <!-- end chat-message -->
			<div class="chat-message">
				<img src="http://placehold.it/40x40" alt="" width="32" height="32" />
				<div class="chat-message-content">
					<span class="chat-time">12:43</span>
					<h5>Marco Biedermann</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div> <!-- end chat-message-content -->
			</div> <!-- end chat-message -->
			<div class="chat-message">
				<img src="http://placehold.it/40x40" alt="" width="32" height="32" />
				<div class="chat-message-content">
					<span class="chat-time">12:23</span>
					<h5>John Doe</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				</div> <!-- end chat-message-content -->
			</div> <!-- end chat-message -->
		</div> <!-- end chat-history -->
		<p class="chat-feedback">Your partner is typing… <img src="images/typing-loading.gif" alt="" /></p>
		<form action="#" method="post">
			<fieldset>
				<input type="text" placeholder="Type your message…" autofocus>
				<input type="hidden">
			</fieldset>
		</form>
	</div> <!-- end chat -->
</div> <!-- end live-chat -->
<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Dashboard 2</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div id="reportrange" class="date-range">
					<i class="fa fa-calendar-o"></i>
					<span></span> <b class="caret"></b>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li><a href="javascript:void(0)" title="">Dashboard 2</a></li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="widget">
					<div class="welcome-message">
						<h3>A new admin template has been released by <a href="javascript:void(0)" title="">bitlers</a> with a name <a href="javascript:void(0)" title="">Glade</a> is now live and available for purchase!</h3>
						<p>Explore this new template and see the beauty of Quirk! <a href="javascript:void(0)" title="">Take a Tour!</a></p>
						<span class="close-message"><i class="fa fa-close"></i></span>
					</div><!-- Welcome Message-->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="widget blank">
					<div class="quick-report-widget style2 blue-bg">
						<i class="fa fa-area-chart"></i>
						<span>New Visits</span>
						<h4>21,069</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								60%
							</div>
						</div>
						<h5>Total Visits : 9,34,001</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget blank">
					<div class="quick-report-widget style2 red-bg">
						<i class="fa fa-clock-o"></i>
						<span>New Signups</span>
						<h4>1,346</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
								40%
							</div>
						</div>
						<h5>Total Users : 22,344</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget blank">
					<div class="quick-report-widget style2 skyblue-bg">
						<i class="fa fa-user"></i>
						<span>Todays Earning</span>
						<h4>2,345</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
								70%
							</div>
						</div>
						<h5>Total Earning : $345,00</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget blank">
					<div class="quick-report-widget style2 green-bg">
						<i class="fa fa-usd"></i>
						<span>Real Visitors</span>
						<h4 class="number">123</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
								55%
							</div>
						</div>
						<h5>Total Visitors : 235,670</h5>
					</div>
				</div><!-- Widget -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="widget">
					<div class="widget-title">
						<h3>Statistics Chart</h3>
						<span> distance stats...</span>
						<div class="widget-controls">
							<span class="close-content"><i class="fa fa-trash-o"></i></span>
							<span class="expand-content"><i class="fa fa-expand"></i></span>
							<span class="refresh-content"><i class="fa fa-refresh"></i></span>
						</div><!-- Widget Controls -->
					</div>
					<div class="double-chart-sec">
						<div class="row">
							<div class="col-md-7">
								<div class="double-chart">
									<div id="chart" style="height:330px"></div>
									<ul class="statistics-report">
										<li><h3>FRI <i>August/Sep/2013</i></h3></li>
										<li><h6><i class="fa fa-laptop"></i> Desktop <span>7,234</span></h6></li>
										<li><h6><i class="fa fa-mobile"></i> Mobile <span>12,092</span></h6></li>
									</ul>
								</div>
							</div>
							<div class="col-md-5">
								<div class="dounut-chart">
									<span id="sparkline">5,9,3,6,10,10,6,10,5,9,3,6,10,6,5,7,9,10,6,5,7,9,5,9,10,6,10,5,9,3,6,10,3,6,10,6,5,5,9,3,6,10,7,9,5,7,9,10,6,5,7,9,5,9,3,6,10,6,5,9,3,5,10,6,10,5,9,3,6,10,3,6,10,6,5,9,3,6</span>
									<div class="status-progress-sec">
										<div class="row">
											<div class="col-md-6">
												<div class="status-progress">
													<span>Data Bases (23/100)</span>
													<div class="progress">
														<div style="width: 90%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar gray">
														</div>
													</div>
												</div><!-- Server Status progress -->
											</div>
											<div class="col-md-6">
												<div class="status-progress">
													<span>Memory Usage 50%</span>
													<div class="progress">
														<div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar gray">
														</div>
													</div>
												</div><!-- Server Status progress -->
											</div>
											<div class="col-md-6">
												<div class="status-progress">
													<span>Email Accounts (56/100)</span>
													<div class="progress">
														<div style="width: 25%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar" class="progress-bar gray">
														</div>
													</div>
												</div><!-- Server Status progress -->
											</div>
											<div class="col-md-6">
												<div class="status-progress">
													<span>CPU Usage (34.05-23 cpus)</span>
													<div class="progress">
														<div style="width: 95%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="progress-bar gray">
														</div>
													</div>
												</div><!-- Server Status progress -->
											</div>
											<div class="col-md-6">
												<div class="status-progress">
													<span>Data Bases (23/100)</span>
													<div class="progress">
														<div style="width: 90%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar gray">
														</div>
													</div>
												</div><!-- Server Status progress -->
											</div>
											<div class="col-md-6">
												<div class="status-progress">
													<span>Memory Usage 50%</span>
													<div class="progress">
														<div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar gray">
														</div>
													</div>
												</div><!-- Server Status progress -->
											</div>
											<div class="col-md-6">
												<div class="status-progress">
													<span>Email Accounts (56/100)</span>
													<div class="progress">
														<div style="width: 25%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar" class="progress-bar gray">
														</div>
													</div>
												</div><!-- Server Status progress -->
											</div>
											<div class="col-md-6">
												<div class="status-progress">
													<span>CPU Usage (34.05-23 cpus)</span>
													<div class="progress">
														<div style="width: 95%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="progress-bar gray">
														</div>
													</div>
												</div><!-- Server Status progress -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- Widget -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="widget">
					<div class="row">
						<div class="col-md-4">
							<div class="balance-widget">
								<span class="sparkpie" id="pie">1,1,2</span>
								<h3>Our Balance</h3>
								<h2><i>THIS MONTH EARNING</i>$9,34,145.0</h2>
								<div class="progress w-tooltip">
									<div class="red-bg progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
										<span><i>Today</i>$2,230</span>
									</div>
								</div>
							</div><!-- Balance Widget -->
						</div>
						
						<div class="col-md-4">
							<div class="balance-widget">
								<span class="sparkpie" id="pie2">2,2,2</span>
								<h3>Our Income</h3>
								<h2><i>THIS MONTH EARNING</i>$9,34,145.0</h2>
								<div class="progress w-tooltip">
									<div class="blue-bg progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
										<span><i>Today</i>$2,230</span>
									</div>
								</div>
							</div><!-- Balance Widget -->
						</div>
						
						<div class="col-md-4">
							<div class="balance-widget">
								<span class="sparkpie" id="pie3">1,1,2,3,2</span>
								<h3>Our Earning</h3>
								<h2><i>THIS MONTH EARNING</i>$9,34,145.0</h2>
								<div class="progress w-tooltip">
									<div class="green-bg progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
										<span><i>Today</i>$2,230</span>
									</div>
								</div>
							</div><!-- Balance Widget -->
						</div>
					</div>	
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="widget no-padding blank">
					<div class="status-upload">
						<form>
							<textarea placeholder="What are you doing right now?"></textarea>
							<ul>
								<li><a title="Audio" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-music"></i></a></li>
								<li><a title="Video" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-video-camera"></i></a></li>
								<li><a title="Sound Record" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-microphone"></i></a></li>
								<li><a title="Picture" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-picture-o"></i></a></li>
							</ul>
							<button type="submit" class="green-bg"><i class="fa fa-share"></i> Share</button>
						</form>
					</div><!-- Status Upload  -->
				</div><!-- Widget Area -->
			</div>
			<div class="col-md-6">
				<div class="widget">
					<div class="mini-profile-widget">
						<div class="mini-profile-area">	
							<span><img src="http://placehold.it/100x100" alt="" /></span>
							<h3>Labrina Scholer</h3>
							<i>Senior Designer</i>
							<ul class="social-btns">
								<li><a href="javascript:void(0)" title=""><i class="fa fa-facebook"></i></a></li>
								<li><a href="javascript:void(0)" title=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href="javascript:void(0)" title=""><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>
						<p>Print this page to PDF for the complete set of vectors. Or to use on the desktop.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="widget">
					<div class="widget-title">
						<h3>Quick Save Draft</h3>
						<span> distance stats...</span>
						<div class="widget-controls">
							<span class="close-content"><i class="fa fa-trash-o"></i></span>
							<span class="expand-content"><i class="fa fa-expand"></i></span>
							<span class="refresh-content"><i class="fa fa-refresh"></i></span>
						</div><!-- Widget Controls -->
					</div>
					<div class="save-draft">
						<form>
							<input type="text" placeholder="Title" />
							<input type="text" placeholder="Email" />
							<textarea placeholder="Description"></textarea>
							<input type="submit" value="Save now" />
						</form>
					</div><!-- Save Draft -->
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget">
					<div class="ribbon-wrapper"><div class="ribbon-design red-bg">Tasks</div></div>
					<div class="full-report">
						<div class="user"><span><img src="http://placehold.it/100x100" alt="" /></span>
							<h3>Labrina Scholer</h3><i>Senior Designer</i>
						</div>
						<ul>
							<li><span class="fa fa-tasks"></span>New Task Issued<i>20</i></li>
							<li><span class="fa fa-bell-o"></span>Notifications<i>12</i></li>
							<li><span class="fa fa-bolt"></span>Task Pendings<i>8</i></li>
							<li><span class="fa fa-inbox"></span>Unread Messages<i>11</i></li>
							<li><span class="fa fa-user"></span>Pending Requests<i>13</i></li>
							<li><span class="fa fa-envelope"></span>Spam Emails<i>23</i></li>
							<li><span class="fa fa-cogs"></span>Pending Users<i>55</i></li>
						</ul>
					</div>
				</div><!-- Widget Area -->
			</div>
			<div class="col-md-4">
				<div class="widget">
					<div class="my-profile-widget">
						<div class="profile-widget-head">
							<h3>Labrina Scholar</h3>
							<i>Creative Designer</i>
							<span><img alt="" src="http://placehold.it/100x100"></span>
						</div>
						<h4>@labrina_scholar</h4>
						<span class="red-bg"><i class="ti-location-pin"></i>San Francisco</span>
						<p>Print this page to PDF for te completet of vectors</p>
						<a title="" href="javascript:void(0)">http://themeforest.net</a>
						<ul class="social-btns">
							<li><a href="javascript:void(0)" title=""><i class="ti-facebook"></i></a></li>
							<li><a href="javascript:void(0)" title=""><i class="ti-google"></i></a></li>
							<li><a href="javascript:void(0)" title=""><i class="ti-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
