<div id="live-chat">
   <div class="clearfix chat-header">
      <a class="chat-close">-</a>
      <h4>Labrina Scholar</h4>
      <span class="chat-message-counter">3</span>
   </div>
   <div class="chat" style="display:none;">
      <div class="chat-history">
         <div class="chat-message">
            <img src="http://placehold.it/40x40" alt="" width="32" height="32" />
            <div class="chat-message-content">
               <span class="chat-time">11:54</span>
               <h5>John Doe</h5>
               <p>Lorem ipsum dolor. Error, explicabo quasi ratione odio dolorum harum.</p>
            </div>
            <!-- end chat-message-content -->
         </div>
         <!-- end chat-message -->
         <div class="chat-message">
            <img src="http://placehold.it/40x40" alt="" width="32" height="32" />
            <div class="chat-message-content">
               <span class="chat-time">12:43</span>
               <h5>Marco Biedermann</h5>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <!-- end chat-message-content -->
         </div>
         <!-- end chat-message -->
         <div class="chat-message">
            <img src="http://placehold.it/40x40" alt="" width="32" height="32" />
            <div class="chat-message-content">
               <span class="chat-time">12:23</span>
               <h5>John Doe</h5>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
            <!-- end chat-message-content -->
         </div>
         <!-- end chat-message -->
      </div>
      <!-- end chat-history -->
      <p class="chat-feedback">Your partner is typing… <img src="public/images/typing-loading.gif" alt="" /></p>
      <form action="#" method="post">
         <fieldset>
            <input type="text" placeholder="Type your message…" autofocus>
            <input type="hidden">
         </fieldset>
      </form>
   </div>
   <!-- end chat -->
</div>
<!-- end live-chat -->
<div class="panel-content">
   <div class="main-title-sec">
      <div class="row">
         <div class="col-md-3 column">
            <div class="heading-profile">
               <h2>Dashboard 4</h2>
               <span>Welcome back, John</span>
            </div>
         </div>
         <div class="col-md-9 column">
            <div id="reportrange" class="date-range">
               <i class="fa fa-calendar-o"></i>
               <span></span> <b class="caret"></b>
            </div>
            <div class="quick-btn-title">
               <a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
               <a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
            </div>
         </div>
      </div>
   </div>
   <!-- Heading Sec -->
   <ul class="breadcrumbs">
      <li><a href="javascript:void(0)" title="">Home</a></li>
      <li><a href="javascript:void(0)" title="">Dashboard 4</a></li>
   </ul>
   <div class="main-content-area">
      <div class="row">
         <div class="col-md-4">
            <div class="widget">
               <div class="admin-follow">
                  <img src="http://placehold.it/100x100" alt="" />
                  <h3>Brian Kellvin</h3>
                  <span>@briankellvin</span>
                  <a href="#" title="">Follow us</a>
                  <ul>
                     <li><i class="fa fa-heart red-bg"></i> <span>1,245</span></li>
                     <li><i class="fa fa-thumb-tack blue-bg"></i> <span>7,314</span></li>
                     <li><i class="fa fa-hashtag green-bg"></i> <span>9,158</span></li>
                  </ul>
               </div>
               <!-- Admin Follow -->
            </div>
            <!-- Widget -->
         </div>
         <div class="col-md-4">
            <div class="widget">
               <div class="widget-title">
                  <h3>Clients List</h3>
                  <span>234 clients...</span>
                  <div class="widget-controls">
                     <span class="close-content"><i class="fa fa-trash-o"></i></span>
                     <span class="expand-content"><i class="fa fa-expand"></i></span>
                     <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                  </div>
                  <!-- Widget Controls -->
               </div>
               <div class="our-clients-sec">
                  <div id="searchDir"></div>
                  <ul id="people-list" class="client-list">
                     <li>
                        <span class="user-status online red-bg">J</span>
                        <div class="client-info">
                           <h3><a href="#" title="">Jamed line</a></h3>
                           <p>creative designer</p>
                           <a href="#" title=""><i class="fa fa-comment-o"></i></a>
                        </div>
                     </li>
                     <li>
                        <span class="user-status offline blue-bg">H</span>
                        <div class="client-info">
                           <h3><a href="#" title="">Hurisa joe</a></h3>
                           <p>marketing</p>
                           <a href="#" title=""><i class="fa fa-comment-o"></i></a>
                        </div>
                     </li>
                     <li>
                        <span class="user-status away green-bg">K</span>
                        <div class="client-info">
                           <h3><a href="#" title="">Komail set</a></h3>
                           <p>supervisor</p>
                           <a href="#" title=""><i class="fa fa-comment-o"></i></a>
                        </div>
                     </li>
                     <li>
                        <span class="user-status away skyblue-bg">B</span>
                        <div class="client-info">
                           <h3><a href="#" title="">Bason Durel</a></h3>
                           <p>web developer</p>
                           <a href="#" title=""><i class="fa fa-comment-o"></i></a>
                        </div>
                     </li>
                     <li>
                        <span class="user-status offline red-bg">D</span>
                        <div class="client-info">
                           <h3><a href="#" title="">Danzil Dare</a></h3>
                           <p>software engineer</p>
                           <a href="#" title=""><i class="fa fa-comment-o"></i></a>
                        </div>
                     </li>
                     <li>
                        <span class="user-status online blue-bg">Z</span>
                        <div class="client-info">
                           <h3><a href="#" title="">Zubain Dui</a></h3>
                           <p>road master</p>
                           <a href="#" title=""><i class="fa fa-comment-o"></i></a>
                        </div>
                     </li>
                     <li>
                        <span class="user-status online green-bg">L</span>
                        <div class="client-info">
                           <h3><a href="#" title="">Lara Croft</a></h3>
                           <p>content writer</p>
                           <a href="#" title=""><i class="fa fa-comment-o"></i></a>
                        </div>
                     </li>
                     <li>
                        <span class="user-status offline skyblue-bg">B</span>
                        <div class="client-info">
                           <h3><a href="#" title="">Bisman Dazy</a></h3>
                           <p>blogger</p>
                           <a href="#" title=""><i class="fa fa-comment-o"></i></a>
                        </div>
                     </li>
                  </ul>
               </div>
               <!-- Our Clients Sec -->
            </div>
            <!-- Widget -->
         </div>
         <div class="col-md-4">
            <div class="widget">
               <div class="product-sale">
                  <img src="http://placehold.it/329x434" alt="" />
                  <div class="product-info">
                     <h3><a href="#" title="">Classic Shirt</a></h3>
                     <p>Lorem ipsum dolor sit amet, constur adipiscing elit hell to bob.</p>
                     <span class="price">
                     <ins><i class="fa fa-shopping-cart"></i>$58</ins>
                     <del>$75</del>
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-6">
            <div class="widget">
               <div class="quick-report-widget style2 white">
                  <i class="fa fa-area-chart"></i>
                  <span>New Visits</span>
                  <h4>21,069</h4>
                  <div class="progress">
                     <div class="progress-bar red-bg" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        60%
                     </div>
                  </div>
                  <h5>Total Visits : 9,34,001</h5>
               </div>
            </div>
            <!-- Widget -->
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="widget">
               <div class="quick-report-widget style2 white">
                  <i class="fa fa-clock-o"></i>
                  <span>New Signups</span>
                  <h4>1,346</h4>
                  <div class="progress">
                     <div class="progress-bar blue-bg" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        40%
                     </div>
                  </div>
                  <h5>Total Users : 22,344</h5>
               </div>
            </div>
            <!-- Widget -->
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="widget">
               <div class="quick-report-widget style2 white">
                  <i class="fa fa-user"></i>
                  <span>Todays Earning</span>
                  <h4>2,345</h4>
                  <div class="progress">
                     <div class="progress-bar skyblue-bg" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                        70%
                     </div>
                  </div>
                  <h5>Total Earning : $345,00</h5>
               </div>
            </div>
            <!-- Widget -->
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="widget">
               <div class="quick-report-widget style2 white">
                  <i class="fa fa-usd"></i>
                  <span>Real Visitors</span>
                  <h4 class="number">123</h4>
                  <div class="progress">
                     <div class="progress-bar green-bg" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                        55%
                     </div>
                  </div>
                  <h5>Total Visitors : 235,670</h5>
               </div>
            </div>
            <!-- Widget -->
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="widget">
               <div class="row">
                  <div class="col-md-8">
                     <div class="with-padding">
                        <div id="graph-wrapper">
                           <div class="graph-info">
                              <a  class="visitors"><span class="red-bg"></span>Visitors</a>
                              <a  class="returning"><span class="dark-bg"></span>Returning Visitors</a>
                              <a href="#" id="bars" class="graph-tab-btn"><span><i class="fa fa-bar-chart-o"></i></span></a>
                              <a href="#" id="lines" class="active graph-tab-btn"><span><i class="fa fa-code-fork"></i></span></a>
                           </div>
                           <div class="graph-containers">
                              <div id="graph-lines"></div>
                              <div id="graph-bars"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="visit-table">
                        <ul>
                           <li class="table-head">
                              <h2 class="location">Location</h2>
                              <h2 class="visit">Visits</h2>
                           </li>
                           <li><span class="location"><img src="public/images/resource/us-flag.jpg" alt="" />United States</span><i class="visit">2298</i></li>
                           <li><span class="location"><img src="public/images/resource/china-flag.jpg" alt="" />China</span><i class="visit">13244</i></li>
                           <li><span class="location"><img src="public/images/resource/turkey-flag.jpg" alt="" />Turkey</span><i class="visit">234</i></li>
                           <li><span class="location"><img src="public/images/resource/australia-flag.jpg" alt="" />Australia</span><i class="visit">2345</i></li>
                           <li><span class="location"><img src="public/images/resource/india-flag.jpg" alt="" />India</span><i class="visit">756</i></li>
                           <li><span class="location"><img src="public/images/resource/brazil-flag.jpg" alt="" />Brazil</span><i class="visit">65570</i></li>
                           <li><span class="location"><img src="public/images/resource/turkey-flag.jpg" alt="" />Bangladesh</span><i class="visit">675</i></li>
                           <li><span class="location"><img src="public/images/resource/australia-flag.jpg" alt="" />Nigeria</span><i class="visit">677</i></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="widget">
               <div class="widget-title">
                  <h3>Activity Feed</h3>
                  <span>Here comes the feed</span>
               </div>
               <div class="activity-feed">
                  <ul id="activity-scroll">
                     <li>
                        <span><i class="fa fa-upload green-bg"></i></span>
                        <h3>New Upload</h3>
                        <p>New file <a href="#" title="">document.doc</a> uploaded to the cloud</p>
                        <i>2 min ago</i>
                     </li>
                     <li>
                        <span><i class="fa fa-file blue-bg"></i></span>
                        <h3>New Document</h3>
                        <p>New document <a href="#" title="">lorem ipsum.txt</a> created</p>
                        <i>4 min ago</i>
                     </li>
                     <li>
                        <span><i class="fa fa-info red-bg"></i></span>
                        <h3>Important Notification</h3>
                        <p>There is <a href="#" title="">Server 10</a> is not working Properly</p>
                        <i>1 hour ago</i>
                     </li>
                     <li>
                        <span><img src="http://placehold.it/40x40" alt="" /></span>
                        <h3>New Upload</h3>
                        <p>New file <a href="#" title="">document.doc</a> uploaded to the cloud</p>
                        <i>today</i>
                     </li>
                     <li>
                        <span><i class="fa fa-info red-bg"></i></span>
                        <h3>Important Notification</h3>
                        <p>There is <a href="#" title="">Server 10</a> is not working Properly</p>
                        <i>1 hour ago</i>
                     </li>
                     <li>
                        <span><img src="http://placehold.it/40x40" alt="" /></span>
                        <h3>New Upload</h3>
                        <p>New file <a href="#" title="">document.doc</a> uploaded to the cloud</p>
                        <i>today</i>
                     </li>
                     <li>
                        <span><i class="fa fa-upload green-bg"></i></span>
                        <h3>New Upload</h3>
                        <p>New file <a href="#" title="">document.doc</a> uploaded to the cloud</p>
                        <i>2 min ago</i>
                     </li>
                     <li>
                        <span><i class="fa fa-file blue-bg"></i></span>
                        <h3>New Document</h3>
                        <p>New document <a href="#" title="">lorem ipsum.txt</a> created</p>
                        <i>4 min ago</i>
                     </li>
                     <li>
                        <span><i class="fa fa-info red-bg"></i></span>
                        <h3>Important Notification</h3>
                        <p>There is <a href="#" title="">Server 10</a> is not working Properly</p>
                        <i>1 hour ago</i>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="widget blank">
               <div class="tweet-widget">
                  <div class="ribbon-wrapper">
                     <div class="ribbon-design skyblue-bg">Twitter</div>
                  </div>
                  <img src="http://placehold.it/394x216" alt="" />
                  <div class="twitter-profile">
                     <span><img src="http://placehold.it/100x100" alt="" /></span>
                     <h3>@NataliaQueenart<i title="Verified" class="fa fa-check skyblue-bg" data-toggle="tooltip" data-placement="top"></i></h3>
                     <h4>Creative Graphic Designer</h4>
                  </div>
                  <ul class="twitter-activity">
                     <li><i>Followers</i><span>88,900</span></li>
                     <li><i>Following</i><span>2,090</span></li>
                     <li><i>Tweets</i><span>409</span></li>
                  </ul>
               </div>
               <!-- Twitter Widget -->
            </div>
         </div>
         <div class="col-md-4">
            <div class="widget dark-bg">
               <div class="with-padding">
                  <div class="profile-views-widget">
                     <div class="profile-thumb">
                        <span><img src="http://placehold.it/100x100" alt="" /></span>
                        <h3>JAFIR DOE</h3>
                        <i>SENIOR DESIGNER</i>
                     </div>
                     <div class="profile-views-progress">
                        <h5>Profile views</h5>
                        <ul>
                           <li>
                              <div class="progress">
                                 <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar skyblue-bg">
                                 </div>
                              </div>
                              <i>TRACKED</i>
                              <h4>789</h4>
                           </li>
                           <li>
                              <div class="progress">
                                 <div style="width: 45%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="progress-bar skyblue-bg">
                                 </div>
                              </div>
                              <i>VISITS</i>
                              <h4>2,240</h4>
                           </li>
                           <li>
                              <div class="progress">
                                 <div style="width: 80%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar skyblue-bg">
                                 </div>
                              </div>
                              <i>COSTUMERS</i>
                              <h4>89,904</h4>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="widget">
               <div class="with-padding">
                  <div class="database-migration">
                     <h3>Database Migration</h3>
                     <div class="progress w-tooltip">
                        <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="green-bg progress-bar">
                           <span><i>Today</i>$2,230</span>
                           <i>1 hour left</i>
                        </div>
                     </div>
                     <div class="progress w-tooltip">
                        <div style="width: 85%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="green-bg progress-bar">
                           <span><i>Today</i>$2,230</span>
                           <i>1 hour left</i>
                        </div>
                     </div>
                     <i class="up-or-down">45+</i>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Panel Content -->

