<section data-ng-include="'templates/panel.html'"></section>
<header class="simple-normal">
     <div class="top-bar">
          <div class="logo">
               <a href="javascript:void(0)" title=""><i class="fa fa-bullseye"></i> Glade</a>
          </div>
          <div class="menu-options"><span class="menu-action"><i></i></span></div>
          <div class="search-dashboard">
               <div class="responsive-search">
                    <i class="fa fa-search"></i>
               </div>
               <form>
                    <input type="text" placeholder="Search here" />
                    <button type="submit"><i class="fa fa-search"></i></button>
               </form>
          </div><!-- Search Dashboard -->
          <div class="top-bar-quick-sec">
               <ul class="quick-notify-section custom-dropdowns">
                    <li class="message-list dropdown">
                         <span><i class="fa fa-bell-o"></i><strong class="skyblue-bg">7</strong></span>
                         <div class="message drop-list">
                              <span>You have 4 New Messages</span>
                              <ul>
                                   <li>
                                        <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Labrina Scholer</i>Hi! How are you?...<h6>2 min ago..</h6><p class="status blue-bg">New</p></a>
                                   </li>
                                   <li>
                                        <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Jonathan</i>Hi! How are you?...<h6>2 min ago..</h6><p class="status red-bg">Unsent</p></a>
                                   </li>
                                   <li>
                                        <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Barada knol</i>Hi! How are you?...<h6>2 min ago..</h6><p class="status green-bg">Reply</p></a>
                                   </li>
                                   <li>
                                        <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Samtha Gee</i>Hi! How are you?...<h6>2 min ago..</h6><p class="status">New</p></a>
                                   </li>
                              </ul>
                              <a href="inbox.html" title="">See All Messages</a>
                         </div><!-- Message Drop List -->
                    </li>
                    <li class="notification-list dropdown">
                         <span><i class="fa fa-envelope-o"></i><strong class="red-bg">12</strong></span>
                         <div class="notification drop-list">
                              <span>You have 3 New Notifications</span>
                              <ul>
                                   <li>
                                        <a href="javascript:void(0)" title=""><span><i class="ti-pulse red-bg"></i></span>Server 3 is Over Loader Please Check... <h6>2 min ago..</h6></a>
                                   </li>
                                   <li>
                                        <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>MD Daisal</i>New User Registered<h6>4 min ago..</h6><p class="status red-bg">Urgent</p></a>
                                   </li>
                                   <li>
                                        <a href="javascript:void(0)" title=""><span><i class="ti-crown green-bg"></i></span>Envato Has change the policies<h6>7 min ago..</h6></a>
                                   </li>
                              </ul>
                              <a href="javascript:void(0)" title="">See All Notifications</a>
                         </div><!-- Notification Drop list -->
                    </li>
                    <li class="activity-list dropdown">
                         <span><i class="fa fa-bug"></i><strong class="blue-bg">12</strong></span>
                         <div class="activity drop-list">
                              <span>Recent Activity</span>
                              <ul>
                                   <li>
                                        <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Jona Than</i>Uploading new files<h6>2 min ago..</h6><p class="status green-bg">Online</p></a>
                                        <div class="progress">
                                             <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar blue-bg">
                                                  60%
                                             </div>
                                        </div>
                                   </li>
                                   <li>
                                        <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Bela Nisaa</i>Downloading new Documents<h6>2 min ago..</h6></a>
                                        <div class="progress">
                                             <div style="width: 34%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="34" role="progressbar" class="progress-bar red-bg">
                                                  34%
                                             </div>
                                        </div>
                                   </li>
                              </ul>
                              <a href="javascript:void(0)" title="">See All Activity</a>
                         </div><!-- Activity Drop list -->
                    </li>
               </ul>
               <span class="open-panel"><i class="fa fa-cog fa-spin"></i></span>
               <span id="toolFullScreen" class="full-screen-btn"><i class="fa fa-arrows-alt"></i></span>
               <div class="name-area">
                    <a href="javascript:void(0)" title=""><img src="http://placehold.it/100x100" alt="" /> <strong>John Doe</strong></a>
               </div>
          </div>
     </div><!-- Top Bar -->
     <div class="side-menu-sec" id="header-scroll">
          <div class="quick-report-side">
               <span>TODAY REPORT</span>
               <ul>
                    <li><div><strong>456</strong><span>Sales</span></div></li>
                    <li><div><strong>115</strong><span>Orders</span></div></li>
                    <li><div><strong>$120</strong><span>Earn</span></div></li>
               </ul>
          </div>
          <div class="side-menus">
               <span>MAIN LINKS</span>
               <nav>
                    <ul class="parent-menu">
                         <li class="menu-item-has-children active">
                              <a title=""><i class="ti-desktop"></i><span>Dashboard <i class="badge red-bg">HOT</i></span></a>
                              <ul style="display: block;">
                                   <li><a href="#/" title="">Dashboard 1</a></li>
                                   <li><a href="#/dashboard-2" title="">Dashboard 2</a></li>
                                   <li><a href="#/dashboard-3">Dashboard 3</a></li>
                                   <li><a href="#/dashboard-4">Dashboard 4</a></li>
                              </ul>
                         </li>
                         <li class="menu-item-has-children">
                              <a title=""><i class="ti-email"></i><span>Mail Box <i class="badge blue-bg">2 Unread</i></span></a>
                              <ul>
                                   <li><a href="#/pages/inbox">Inbox</a></li>
                                   <li><a href="#/pages/compose">Compose Email</a></li>
                              </ul>
                         </li>
                         <li>
                              <a href="#/pages/widgets" title=""><i class="ti-bolt"></i><span>Widgets <i class="badge skyblue-bg">40+</i></span></a>
                         </li>
                         <li class="menu-item-has-children">
                              <a title=""><i class="ti-heart"></i><span>UI Elements <i class="badge red-bg">40+</i></span></a>
                              <ul class="mega">
                                   <li><a href="#/pages/inbox">Inbox</a></li>
                                   <li><a href="#/pages/compose">Compose Email</a></li>
                                   <li><a href="#/pages/profile">My Profile</a></li>
                                   <li><a href="#/pages/buttons">Buttons</a></li>
                                   <li><a href="#/pages/timeline">Timeline</a></li>
                                   <li><a href="#/pages/timeline2">Timeline 2</a></li>
                                   <li><a href="#/pages/color-picker">Color Picker</a></li>
                                   <li><a href="#/pages/date-pickers">Date Picker</a></li>
                                   <li><a href="#/pages/tabs">Tabs</a></li>
                                   <li><a href="#/pages/syntax-highlight">Syntax Highlight</a></li>
                                   <li><a href="#/pages/wysiwyg-editor">WYSIWYG Editor</a></li>
                                   <li><a href="#/pages/radial-indicator">Radial Indicator</a></li>
                                   <li><a href="#/pages/parallax">Parallax</a></li>
                                   <li><a href="#/pages/typography">Typography</a></li>
                                   <li><a href="#/pages/calendar">Calendar</a></li>
                                   <li><a href="#/pages/upload-crop">Upload Crop</a></li>
                                   <li><a href="#/pages/tour">Page Tour</a></li>
                                   <li><a href="#/pages/collapse">Collapse</a></li>
                                   <li><a href="#/pages/forms">Form Stuff</a></li>
                                   <li><a href="#/pages/form-builder">Form Builder <i class="badge red-bg">HOT</i></a></li>
                                   <li><a href="#/pages/modal-boxes">Modal Boxes</a></li>
                                   <li><a href="#/pages/grids">Grids</a></li>
                                   <li><a href="#/pages/notification">Notifications</a></li>
                                   <li><a href="#/pages/price-table">Price Table</a></li>
                                   <li><a href="#/pages/price-table2">Price Table 2</a></li>
                                   <li><a href="#/pages/range-slider">Range Slider</a></li>
                                   <li><a href="#/pages/sort-block">Sortable</a></li>
                                   <li><a href="#/pages/basic-tables">Basic Tables</a></li>
                                   <li><a href="#/pages/tabular-table">Tabular Tables</a></li>
                                   <li><a href="#/pages/task-dynamic">My Tasks</a></li>
                                   <li><a href="#/pages/task-simple">Todo Lists</a></li>
                                   <li><a href="#/pages/progress-bar">Progress Bar</a></li>
                                   <li><a href="#/pages/popovers">Popovers</a></li>
                                   <li><a href="#/pages/navbars">Navbars</a></li>
                                   <li><a href="#/pages/calculator">Calculator</a></li>
                                   <li><a href="#/pages/paginations">Paginations</a></li>
                                   <li><a href="#/pages/tooltips">Tooltips</a></li>
                                   <li><a href="#/pages/ribbon-grids">Ribbon Grids</a></li>
                                   <li><a href="#/pages/css-spinners">Css Spinners</a></li>
                                   <li><a href="#/pages/gallery">Gallery</a></li>
                                   <li><a href="#/pages/gallery2">Gallery 2</a></li>
                                   <li><a href="#/pages/slider">Sliders</a></li>
                                   <li><a href="maintenance.html">Maintenance</a></li>
                              </ul>
                         </li>
                         <li>
                              <a href="#/pages/rich-charts"><i class="ti-pie-chart"></i><span>Charts</span></a>
                         </li>
                         <li class="menu-item-has-children">
                              <a title=""><i class="ti-pencil"></i><span>Pages</span></a>
                              <ul class="mega">
                                   <li><a href="#/pages/blank">Blank</a></li>
                                   <li><a href="#/pages/masonry-grids">Masonry Grids</a></li>
                                   <li><a href="#/pages/panels">Widget Panels</a></li>
                                   <li><a href="#/pages/blog">Blog</a></li>
                                   <li><a href="#/pages/blog2">Blog 2</a></li>
                                   <li><a href="#/pages/single-post">Single Post</a></li>
                                   <li><a href="#/pages/404">404 Page</a></li>
                                   <li><a href="#/pages/404-2">404 Page 2</a></li>
                                   <li><a href="#/pages/404-3">404 Page 3</a></li>
                                   <li><a href="#/pages/505">505 Page</a></li>
                                   <li><a href="#/pages/contact">Contact Us</a></li>
                                   <li><a href="#/pages/google-map">Google Map</a></li>
                                   <li><a href="#/pages/vector-map">Vector Map</a></li>
                                   <li><a href="#/pages/invoice">Invoice</a></li>
                                   <li><a href="#/pages/search-not-found">No Search Result</a></li>
                                   <li><a href="#/pages/search-found">Search Found</a></li>
                                   <li><a href="#/pages/faq">FAQ Page</a></li>
                                   <li><a href="coming-soon.html">Coming soon</a></li>
                                   <li><a href="#/pages/our-team">Our Team</a></li>
                                   <li><a href="#/pages/our-team2">Our Team 2</a></li>
                                   <li><a href="#/pages/scroll-box">ScrollBox</a></li>
                                   <li><a href="#/pages/services">Services</a></li>
                                   <li><a href="#/pages/services2">Services 2</a></li>
                                   <li><a href="#/pages/services3">Services 3</a></li>
                                   <li><a href="#/pages/portfolio">Portfolio</a></li>
                                   <li><a href="#/pages/portfolio2">Portfolio 2</a></li>
                                   <li><a href="#/pages/portfolio-filter">Portfolio Filter</a></li>
                                   <li><a href="#/pages/profile">My Profile</a></li>
                              </ul>
                         </li>
                         <li class="menu-item-has-children">
                              <a title=""><i class="ti-paint-roller"></i><span>Icons</span></a>
                              <ul>
                                   <li><a href="#/pages/font-awesome">Font Awesome</a></li>
                                   <li><a href="#/pages/themify-icons">Themify Icons</a></li>
                                   <li><a href="#/pages/skycons">Skycons Weather Icons</a></li>
                              </ul>
                         </li>
                         <li class="menu-item-has-children">
                              <a title=""><i class="ti-rocket"></i><span>Shop <i class="badge green-bg">NEW</i></span></a>
                              <ul>
                                   <li><a href="#/pages/product">Product</a></li>
                                   <li><a href="#/pages/product2">Product 2</a></li>
                                   <li><a href="#/pages/cart">Cart</a></li>
                                   <li><a href="#/pages/single-product">Single Product</a></li>
                                   <li><a href="#/pages/checkout">Checkout</a></li>
                                   <li><a href="#/pages/order-received">Order Received</a></li>
                              </ul>
                         </li>
                         <li class="menu-item-has-children">
                              <a title=""><i class="ti-rocket"></i><span>Extras</span></a>
                              <ul>
                                   <li><a href="#/forgot-password">Forgot Password</a></li>
                                   <li><a href="#/login">Login</a></li>
                                   <li><a href="#/register">Sign up</a></li>
                                   <li><a href="#/lockscreen">Lockscreen</a></li>
                              </ul>
                         </li>
                    </ul>
               </nav>
               <span class="footer-line">2017 Copyright Glade by <a title="" href="http://themeforest.net/user/bitlers/portfolio?ref=bitlers">bitlers</a></span>
          </div>
     </div>
</header>
