<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Contact Us</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Contact Us</li>
	</ul>
	<div class="main-content-area">
		<div class="google-map">
			<div id="map"></div>
			<div class="wanna-touch">
				<div class="wanna-touch-inner">
					<div class="info-title">
						<span>WANNA TOUCH?</span>
						<h3>My Address</h3>
					</div>
					<div class="contact-info-list">
						<ul>
							<li><i class="fa fa-location-arrow"></i> 2512 Cherry Tree Drive</li>
							<li><i class="fa fa-map-marker"></i> 2512 Cherry Tree Drive</li>
							<li><i class="fa fa-phone"></i> 904-328-0029 - 324-675-4356</li>
							<li><i class="fa fa-flash"></i> Family practitioner</li>
						</ul>
						<span class="view-location"><i class="fa fa-map-o"></i> VIEW LOCATION</span>
					</div>
				</div>
			</div>
			<span class="hide-location"><i class="fa fa-eye-slash"></i> HIDE LOCATION</span>
		</div>
		<div class="contact-page-sec">
			<div class="row">
				<div class="col-md-6 column">
					<div id="contact">
						<div class="contact-form">
							<form method="post" action="contact.php" name="contactform" id="contactform">
								<div class="row">
									<div class="col-md-12">
										<i class="fa fa-user"></i>
										<input  name="name" required="" type="text" id="name" placeholder="Name">
									</div>
									<div class="col-md-12">
										<i class="fa fa-at"></i>
										<input name="email" required="" type="text" id="email" placeholder="Email">
									</div>
									<div class="col-md-12">
										<i class="fa fa-pencil"></i>
										<textarea name="comments" required="" id="comments" placeholder="Message"></textarea>
									</div>
									<div class="col-md-12">
										<button type="submit" class="submit theme-btn" id="submit">SEND NOW</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6 column">
					<div class="contact-details">
						<div class="contact-infos">
							<ul>
								<li>
									<span><i class="fa fa-phone"></i> Address</span>
									<p>765 Shuttle Swift Area <br>at New Born Road </p>
								</li>
								<li>
									<span><i class="fa fa-fax"></i> Fax/Email</span>
									<p>674-46-7-0,   234-8-987 <br>hello@email.com</p>
								</li>
							</ul>
						</div>
						<ul class="social-btns">
							<li><a title="" href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-dribbble"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-tumblr"></i></a></li>
						</ul>
					</div><!-- Contact Details -->
					<div class="subscribe-us">
						<span>Stop being invisible today signup now for weekly.</span>
						<form>
							<input type="text" placeholder="Enter your email">
							<input type="submit" value="SIGNUP">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
