<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Navigation Bars</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Navigation Bars</li>
	</ul>
	<div class="main-content-area">
		<div  class="row">
			<div class="col-md-12">
				<div class="widget white">
					<div class="widget-title"><h3>Navigation Light</h3></div>
					<div class="widget-content">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<a href="javascript:void(0)" class="navbar-brand">Brand</a>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
									<ul class="nav navbar-nav">
										<li class="active"><a href="javascript:void(0)">Link <span class="sr-only">(current)</span></a></li>
										<li><a href="javascript:void(0)">Link</a></li>
										<li class="dropdown">
											<a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">Dropdown <span class="caret"></span></a>
											<ul role="menu" class="dropdown-menu">
												<li><a href="javascript:void(0)">Action</a></li>
												<li><a href="javascript:void(0)">Another action</a></li>
												<li><a href="javascript:void(0)">Something else here</a></li>
												<li class="divider"></li>
												<li><a href="javascript:void(0)">Separated link</a></li>
												<li class="divider"></li>
												<li><a href="javascript:void(0)">One more separated link</a></li>
											</ul>
										</li>
									</ul>
									<ul class="nav navbar-nav navbar-right">
										<li><a href="javascript:void(0)">Link</a></li>
										<li class="dropdown">
											<a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">Dropdown <span class="caret"></span></a>
											<ul role="menu" class="dropdown-menu">
												<li><a href="javascript:void(0)">Action</a></li>
												<li><a href="javascript:void(0)">Another action</a></li>
												<li><a href="javascript:void(0)">Something else here</a></li>
												<li class="divider"></li>
												<li><a href="javascript:void(0)">Separated link</a></li>
											</ul>
										</li>
									</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.container-fluid -->
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div  class="row">
			<div class="col-md-12">
				<div class="widget white">
					<div class="widget-title"><h3>Navigation Dark</h3></div>
					<div class="widget-content">
						<nav class="navbar navbar-inverse">
							<div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<a href="javascript:void(0)" class="navbar-brand">Brand</a>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
									<ul class="nav navbar-nav">
										<li class="active"><a href="javascript:void(0)">Link <span class="sr-only">(current)</span></a></li>
										<li><a href="javascript:void(0)">Link</a></li>
										<li class="dropdown">
											<a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">Dropdown <span class="caret"></span></a>
											<ul role="menu" class="dropdown-menu">
												<li><a href="javascript:void(0)">Action</a></li>
												<li><a href="javascript:void(0)">Another action</a></li>
												<li><a href="javascript:void(0)">Something else here</a></li>
												<li class="divider"></li>
												<li><a href="javascript:void(0)">Separated link</a></li>
												<li class="divider"></li>
												<li><a href="javascript:void(0)">One more separated link</a></li>
											</ul>
										</li>
									</ul>
									<ul class="nav navbar-nav navbar-right">
										<li><a href="javascript:void(0)">Link</a></li>
										<li class="dropdown">
											<a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">Dropdown <span class="caret"></span></a>
											<ul role="menu" class="dropdown-menu">
												<li><a href="javascript:void(0)">Action</a></li>
												<li><a href="javascript:void(0)">Another action</a></li>
												<li><a href="javascript:void(0)">Something else here</a></li>
												<li class="divider"></li>
												<li><a href="javascript:void(0)">Separated link</a></li>
											</ul>
										</li>
									</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.container-fluid -->
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
