<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Price Table 2</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Price Table 2</li>
	</ul>
	<div class="main-content-area">
		<div class="prices-sec2">
			<div class="row">
				<div class="col-md-4">
					<ul class="price-table2"> 
						<li class="price-icon2"><i class="fa fa-anchor"></i></li>
						<li class="price-title2">Basic Plan</li>
						<li class="price-here2"><i>$</i>80<span>p/m</span></li>
						<li class="price-feature2">Unlimited Projects</li>
						<li class="price-feature2">75 GB Online Storage</li>
						<li class="price-feature2">Unlimited User Accounts</li>
						<li class="price-feature2">Enhanced Security</li>
						<li class="price-btn2"><a href="javascript:void(0)" title="" class="theme-btn">Signup Now</a></li>
						<li class="price-image2"><img src="http://placehold.it/208x659" alt="" /></li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="price-table2"> 
						<li class="price-icon2"><i class="fa fa-codepen"></i></li>
						<li class="price-title2">Silver Plan</li>
						<li class="price-here2"><i>$</i>90<span>p/m</span></li>
						<li class="price-feature2">Unlimited Projects</li>
						<li class="price-feature2">75 GB Online Storage</li>
						<li class="price-feature2">Unlimited User Accounts</li>
						<li class="price-feature2">Enhanced Security</li>
						<li class="price-btn2"><a href="javascript:void(0)" title="" class="theme-btn">Signup Now</a></li>
						<li class="price-image2"><img src="http://placehold.it/208x659" alt="" /></li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="price-table2"> 
						<li class="price-icon2"><i class="fa fa-diamond"></i></li>
						<li class="price-title2">Golden Plan</li>
						<li class="price-here2"><i>$</i>99<span>p/m</span></li>
						<li class="price-feature2">Unlimited Projects</li>
						<li class="price-feature2">75 GB Online Storage</li>
						<li class="price-feature2">Unlimited User Accounts</li>
						<li class="price-feature2">Enhanced Security</li>
						<li class="price-btn2"><a href="javascript:void(0)" title="" class="theme-btn">Signup Now</a></li>
						<li class="price-image2"><img src="http://placehold.it/208x659" alt="" /></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
