<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Services Style 2</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Services Style 2</li>
	</ul>
	<div class="main-content-area">
		<div class="square-services-sec">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="square-services">
						<img src="http://placehold.it/370x344" alt="" />
						<div class="square-infos">
							<i class="fa fa-diamond"></i>
							<h3>Multi Purpose</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
							<a href="javascript:void(0)" title="">+</a>
						</div>
					</div><!-- square services -->
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="square-services">
						<img src="http://placehold.it/370x344" alt="" />
						<div class="square-infos">
							<i class="fa fa-comment-o"></i>
							<h3>Retina Ready</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
							<a href="javascript:void(0)" title="">+</a>
						</div>
					</div><!-- square services -->
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="square-services">
						<img src="http://placehold.it/370x344" alt="" />
						<div class="square-infos">
							<i class="fa fa-flask"></i>
							<h3>Great Support</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
							<a href="javascript:void(0)" title="">+</a>
						</div>
					</div><!-- square services -->
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="square-services">
						<img src="http://placehold.it/370x344" alt="" />
						<div class="square-infos">
							<i class="fa fa-bolt"></i>
							<h3>EASY TO EDIT</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
							<a href="javascript:void(0)" title="">+</a>
						</div>
					</div><!-- square services -->
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="square-services">
						<img src="http://placehold.it/370x344" alt="" />
						<div class="square-infos">
							<i class="fa fa-heart-o"></i>
							<h3>RESPONSIVE DESIGN</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
							<a href="javascript:void(0)" title="">+</a>
						</div>
					</div><!-- square services -->
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="square-services">
						<img src="http://placehold.it/370x344" alt="" />
						<div class="square-infos">
							<i class="fa fa-codepen "></i>
							<h3>Flexible Design</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
							<a href="javascript:void(0)" title="">+</a>
						</div>
					</div><!-- square services -->
				</div>
			</div>
		</div><!-- Services Sec -->
	</div>
</div><!-- Panel Content -->
