<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Task Dynamic</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Task Dynamic</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="task-sec">
					<section id="task-form">
						<input class="create-task" type="text" name="task-insert" placeholder="Insert your list items here">
						<button class="create-task">Create List</button>
					</section>
					<section id="task-container">
						<div class="row">
							<div class="col-md-12">
								<h3 class="nothing-message">No list yet</h3>
								<h3 class="task-headline">Today's Tasks</h3>
								<ul id="task-list">
									
								</ul>
							</div>
							<div class="col-md-12">
								<div id="controls">
									<p>**Single Click to mark complete</p>
									<p>**Double Click to remove from list</p>
									<br />
									<button id="clear-all-tasks">Clear All Tasks</button>
								</div>
							</div>
						</div>
					</section>
				</div><!-- Task Sec -->
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
