<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Typography</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Typography</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="widget white with-padding">
					<div class="typography">
						<h1>h1. Bootstrap heading <small>Secondary text</small></h1>
						<h2>h2. Bootstrap heading <small>Secondary text</small></h2>
						<h3>h3. Bootstrap heading <small>Secondary text</small></h3>
						<h4>h4. Bootstrap heading <small>Secondary text</small></h4>
						<h5>h5. Bootstrap heading <small>Secondary text</small></h5>
						<h6>h6. Bootstrap heading <small>Secondary text</small></h6>
						<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
						<p class="lead">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis</p>
						<p>You can use the mark tag to <mark>highlight</mark> text.</p>
						<p><del>This line of text is meant to be treated as deleted text.</del></p>
						<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
						<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
						<p><u>This line of text will render as underlined</u></p>
						<p><small>This line of text is meant to be treated as fine print.</small></p>
						<p>The following snippet of text is <strong>rendered as bold text</strong></p>
						<p>The following snippet of text is <i>rendered as italicized text.</i></p>
						<p class="text-left">Left aligned text.</p>
						<p class="text-center">Center aligned text.</p>
						<p class="text-right">Right aligned text.</p>
						<p class="text-justify">Justified text.</p>
						<p class="text-nowrap">No wrap text.</p>
						<p class="text-lowercase">Lowercased text.</p>
						<p class="text-uppercase">Uppercased text.</p>
						<p class="text-capitalize">Capitalized text.</p>
						<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
						<p><abbr class="initialism" title="HyperText Markup Language">HTML</abbr> is the best thing since sliced bread.</p>
						<address>
							<strong>Twitter, Inc.</strong><br>
							795 Folsom Ave, Suite 600<br>
							San Francisco, CA 94107<br>
							<abbr title="Phone">P:</abbr> (123) 456-7890
						</address>
						<blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
						</blockquote>
						<dl class="dl-horizontal">
							<dt>Description lists</dt>
							<dd>A description list is perfect for defining terms.</dd>
							<dt>Euismod</dt>
							<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
							<dd>Donec id elit non mi porta gravida at eget metus.</dd>
							<dt>Malesuada porta</dt>
							<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
							<dt>Felis euismod semper eget lacinia</dt>
							<dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
						</dl>
						<div class="bs-example">
							For example, <code>&lt;section&gt;</code> should be wrapped as inline.
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div><!-- Panel Content -->
