<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Widgets</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Widgets</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="widget">
					<div class="welcome-message">
						<h3>A new admin template has been released by <a href="javascript:void(0)" title="">bitlers</a> with a name <a href="javascript:void(0)" title="">Glade</a> is now live and available for purchase!</h3>
						<p>Explore this new template and see the beauty of Quirk! <a href="javascript:void(0)" title="">Take a Tour!</a></p>
						<span class="close-message"><i class="fa fa-close"></i></span>
					</div><!-- Welcome Message-->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="widget">
					<div class="quick-report-widget">
						<span>New Visits</span>
						<h4>21,069</h4>
						<i class="fa fa-clock-o red-bg"></i>
						<h5>Total Visits : 9,34,001</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget">
					<div class="quick-report-widget">
						<span>New Signups</span>
						<h4>1,346</h4>
						<i class="fa fa-user skyblue-bg"></i>
						<h5>Total Users : 22,344</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget">
					<div class="quick-report-widget">
						<span>Todays Earning</span>
						<h4>2,345</h4>
						<i class="fa fa-usd green-bg"></i>
						<h5>Total Earning : $345,00</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget">
					<div class="quick-report-widget">
						<span>Real Visitors</span>
						<h4 class="number">123</h4>
						<i class="fa fa-area-chart blue-bg"></i>
						<h5>Total Visitors : 235,670</h5>
					</div>
				</div><!-- Widget -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="widget blank">
					<div class="quick-report-widget style2 blue-bg">
						<i class="fa fa-area-chart"></i>
						<span>New Visits</span>
						<h4>21,069</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								60%
							</div>
						</div>
						<h5>Total Visits : 9,34,001</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget blank">
					<div class="quick-report-widget style2 red-bg">
						<i class="fa fa-clock-o"></i>
						<span>New Signups</span>
						<h4>1,346</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
								40%
							</div>
						</div>
						<h5>Total Users : 22,344</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget blank">
					<div class="quick-report-widget style2 skyblue-bg">
						<i class="fa fa-user"></i>
						<span>Todays Earning</span>
						<h4>2,345</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
								70%
							</div>
						</div>
						<h5>Total Earning : $345,00</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget blank">
					<div class="quick-report-widget style2 green-bg">
						<i class="fa fa-usd"></i>
						<span>Real Visitors</span>
						<h4 class="number2">123</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
								55%
							</div>
						</div>
						<h5>Total Visitors : 235,670</h5>
					</div>
				</div><!-- Widget -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="widget">
					<div class="quick-report-widget style2 white">
						<i class="fa fa-area-chart"></i>
						<span>New Visits</span>
						<h4>21,069</h4>
						<div class="progress">
							<div class="progress-bar red-bg" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								60%
							</div>
						</div>
						<h5>Total Visits : 9,34,001</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget">
					<div class="quick-report-widget style2 white">
						<i class="fa fa-clock-o"></i>
						<span>New Signups</span>
						<h4>1,346</h4>
						<div class="progress">
							<div class="progress-bar blue-bg" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
								40%
							</div>
						</div>
						<h5>Total Users : 22,344</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget">
					<div class="quick-report-widget style2 white">
						<i class="fa fa-user"></i>
						<span>Todays Earning</span>
						<h4>2,345</h4>
						<div class="progress">
							<div class="progress-bar skyblue-bg" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
								70%
							</div>
						</div>
						<h5>Total Earning : $345,00</h5>
					</div>
				</div><!-- Widget -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget">
					<div class="quick-report-widget style2 white">
						<i class="fa fa-usd"></i>
						<span>Real Visitors</span>
						<h4 class="number3">123</h4>
						<div class="progress">
							<div class="progress-bar green-bg" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
								55%
							</div>
						</div>
						<h5>Total Visitors : 235,670</h5>
					</div>
				</div><!-- Widget -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="widget no-padding blank">
					<div class="weather-widget">
						<div class="widget-controls">
							<span class="refresh-content"><i class="fa fa-refresh"></i></span>
						</div><!-- Widget Controls -->
						<canvas id="rain" width="64" height="64"></canvas>
						<div class="weather-infos">
							<span class="weather-tem">75</span>
							<h3>Cloudy Skyies<i>Sicklervilte, New Jersey</i></h3>
							<div class="weather-date skyblue-bg">
								<span>MAY<strong>21</strong></span>
							</div>
						</div>
					</div>
				</div><!-- Weather Widget -->
			</div>
			<div class="col-md-6">
				<div class="widget">
					<div class="widget-title">
						<h3>Task Stats</h3>
						<span> tasks here...</span>
						<div class="widget-controls">
							<span class="close-content"><i class="fa fa-trash-o"></i></span>
							<span class="expand-content"><i class="fa fa-expand"></i></span>
							<span class="refresh-content"><i class="fa fa-refresh"></i></span>
						</div><!-- Widget Controls -->
					</div>
					<div class="task-graph">
						<div class="task-graph-chart">
							<span class="pie-colours">4,7,6,5</span>
							<i>Task Completed</i>
							<h3>6789</h3>
						</div>
						<ul>
							<li>Remaining<span>789</span></li>
							<li>In Progress<span>8,230</span></li>
							<li>Budget<span>$78.6M</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="widget blank no-padding">
					<div class="carousal-widget">
						<ul  id="simple-carousel">
							<li>
								<i class="ti-headphone"></i>
								<h3><strong>Steve Jobs</strong> Time Capsu le` is Finally Unearthed on <strong>Skyace News</strong></h3>
								<div class="carousal-avatar">
									<span><img src="http://placehold.it/53x53" alt="" /></span>
									<h3>JAFIR DOE</h3>
									<i>Admin Moderator</i>
								</div>
							</li>
							<li>
								<i class="ti-paint-roller"></i>
								<h3><strong>Steve Jobs</strong> Time Capsu le` is Finally Unearthed on <strong>Skyace News</strong></h3>
								<div class="carousal-avatar">
									<span><img src="http://placehold.it/53x53" alt="" /></span>
									<h3>Jonathan Ranij</h3>
									<i>Theme Developer</i>
								</div>
							</li>
							<li>
								<i class="ti-crown"></i>
								<h3><strong>Steve Jobs</strong> Time Capsu le` is Finally Unearthed on <strong>Skyace News</strong></h3>
								<div class="carousal-avatar">
									<span><img src="http://placehold.it/53x53" alt="" /></span>
									<h3>Bella Nikolin</h3>
									<i>Web Designer</i>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget blank no-padding">
					<div class="carousal-widget fb-carousel">
						<ul id="fb-carousel">
							<li>
								<i class="ti-facebook"></i>
								<h3><strong>John Doe</strong> Biggest time et` We are going on here <strong>Place Taker</strong></h3>
								<span>12 March 2016</span>
								<div class="fb-status">
									<div><i class="fa fa-thumbs-up"></i> 345</div>
									<div><i class="fa fa-comment-o"></i> 786</div>
								</div>
							</li>
							<li>
								<i class="ti-facebook"></i>
								<h3><strong>John Doe</strong> Biggest time et` We are going on here <strong>Place Taker</strong></h3>
								<span>12 March 2016</span>
								<div class="fb-status">
									<div><i class="fa fa-thumbs-up"></i> 345</div>
									<div><i class="fa fa-comment-o"></i> 786</div>
								</div>
							</li>
							<li>
								<i class="ti-facebook"></i>
								<h3><strong>John Doe</strong> Biggest time et` We are going on here <strong>Place Taker</strong></h3>
								<span>12 March 2016</span>
								<div class="fb-status">
									<div><i class="fa fa-thumbs-up"></i> 345</div>
									<div><i class="fa fa-comment-o"></i> 786</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget blank">
					<div class="twitter-widget">
						<div class="twitter-avatar">
							<img src="http://placehold.it/600x402" alt="" />
							<h3>@NataliaQueenart <i class="ti-check skyblue-bg" title="Verified" data-toggle="tooltip" data-placement="top"></i></h3>
							<span>Creative Graphic Designer</span>
						</div>
						<ul>
							<li>Followers<span>88,900</span></li>
							<li>Following<span>2,090</span></li>
							<li>Tweets<span>409</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="widget white no-padding">
					<div class="widget-tabs">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" data-target="#tab1">Comments</a></li>
							<li><a data-toggle="tab" data-target="#tab2">Forum Threads</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab1" class="tab-pane fade in active">
								<ul class="user-comments" id="comment-scroll">
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
											<ul class="edit-remove">
												<li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
												<li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
											</ul>
										</div>
										<h3>Denise Steiner <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
										<i>2 min ago</i>
									</li>
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
											<ul class="edit-remove">
												<li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
												<li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
											</ul>
										</div>
										<h3>Donald Desusa <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
										<i>6 min ago</i>
									</li>
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
											<ul class="edit-remove">
												<li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
												<li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
											</ul>
										</div>
										<h3>Suitir Note <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
										<i>1 hour ago</i>
									</li>
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
											<ul class="edit-remove">
												<li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
												<li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
											</ul>
										</div>
										<h3>Dansir lake <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
										<i>2 min ago</i>
									</li>
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
											<ul class="edit-remove">
												<li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
												<li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
											</ul>
										</div>
										<h3>Lantin rode <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
										<i>1 month ago</i>
									</li>
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
											<ul class="edit-remove">
												<li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
												<li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
											</ul>
										</div>
										<h3>Norton line <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
										<i>6 month ago</i>
									</li>
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
											<ul class="edit-remove">
												<li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
												<li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
											</ul>
										</div>
										<h3>Kukurela Done <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
										<i>1 year ago</i>
									</li>
								</ul>
							</div>
							<div id="tab2" class="tab-pane fade">
								<ul class="forum-threads" id="forum-scroll">
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
										</div>
										<a  title="">Lorem ipsum dolor sit amet</a>
										<h3><i>started by</i> Denise Steiner <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
										<i>2 min ago</i>
									</li>
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
										</div>
										<a  title="">Lorem ipsum dolor sit amet</a>
										<h3><i>started by</i> Jonathan Doe <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
										<i>1 month ago</i>
									</li>
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
										</div>
										<a  title="">Lorem ipsum dolor sit amet</a>
										<h3><i>started by</i> Bella Nikon <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
										<i>3 min ago</i>
									</li>
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
										</div>
										<a  title="">Lorem ipsum dolor sit amet</a>
										<h3><i>started by</i> Benzil Lona <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
										<i>1 year ago</i>
									</li>
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
										</div>
										<a  title="">Lorem ipsum dolor sit amet</a>
										<h3><i>started by</i> Senial Bonak <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
										<i>2 week ago</i>
									</li>
									<li>
										<div class="user-avatar">
											<span><img src="http://placehold.it/53x53" alt="" /></span>
										</div>
										<a  title="">Lorem ipsum dolor sit amet</a>
										<h3><i>started by</i> Bentina gaze <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
										<i>6 month ago</i>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="widget">
					<div class="widget-title">
						<h3>Vector Map</h3>
						<span> distance stats...</span>
						<div class="widget-controls">
							<span class="close-content"><i class="fa fa-trash-o"></i></span>
							<span class="expand-content"><i class="fa fa-expand"></i></span>
							<span class="refresh-content"><i class="fa fa-refresh"></i></span>
						</div><!-- Widget Controls -->
					</div>
					<div class="vector-map">
						<div id="vmap"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="widget">
					<div class="widget-title">
						<h3>Support Tickets</h3>
						<span> all tickets here...</span>
						<div class="widget-controls">
							<span class="close-content"><i class="fa fa-trash-o"></i></span>
							<span class="expand-content"><i class="fa fa-expand"></i></span>
							<span class="refresh-content"><i class="fa fa-refresh"></i></span>
						</div><!-- Widget Controls -->
					</div>
					<div class="support-ticket-sec">
						<ul class="support-ticket" id="ticket-scroll">
							<li>
								<div class="tckt-status"><span class="removed red-bg">REMOVED</span><i>23/02/2013</i></div>
								<div class="tckt-number"><span>#AA-235</span></div>
								<div class="ticket-info">
									<a href="javascript:void(0)" title="">Buy on themeforest this great template...</a>
									<h6>Added by Dmitry Ivaniuk</h6>
								</div>
							</li>
							<li>
								<div class="tckt-status"><span class="new green-bg">NEW</span><i>23/02/2013</i></div>
								<div class="tckt-number"><span>#AA-457</span></div>
								<div class="ticket-info">
									<a href="javascript:void(0)" title="">Goto Shop and Buy Beer</a>
									<h6>Added by John Doe</h6>
								</div>
							</li>
							<li>
								<div class="tckt-status"><span class="new green-bg">NEW</span><i>23/02/2013</i></div>
								<div class="tckt-number"><span>#AJ-569</span></div>
								<div class="ticket-info">
									<a href="javascript:void(0)" title="">There is no error in this Template</a>
									<h6>Added by Dina John</h6>
								</div>
							</li>
							<li>
								<div class="tckt-status"><span class="done blue-bg">DONE</span><i>23/02/2013</i></div>
								<div class="tckt-number"><span>#JH-784</span></div>
								<div class="ticket-info">
									<a href="javascript:void(0)" title="">How can i Buy this Admin?</a>
									<h6>Added by Bolliona</h6>
								</div>
							</li>
							<li>
								<div class="tckt-status"><span class="removed red-bg">REMOVED</span><i>23/02/2013</i></div>
								<div class="tckt-number"><span>#LD-567</span></div>
								<div class="ticket-info">
									<a href="javascript:void(0)" title="">Finest Admin ever of themeforest</a>
									<h6>Added by Nikonilina</h6>
								</div>
							</li>
							<li>
								<div class="tckt-status"><span class="removed red-bg">REMOVED</span><i>23/02/2013</i></div>
								<div class="tckt-number"><span>#AA-235</span></div>
								<div class="ticket-info">
									<a href="javascript:void(0)" title="">Buy on themeforest this great template...</a>
									<h6>Added by Dmitry Ivaniuk</h6>
								</div>
							</li>
							<li>
								<div class="tckt-status"><span class="new green-bg">NEW</span><i>23/02/2013</i></div>
								<div class="tckt-number"><span>#AA-457</span></div>
								<div class="ticket-info">
									<a href="javascript:void(0)" title="">Goto Shop and Buy Beer</a>
									<h6>Added by John Doe</h6>
								</div>
							</li>
							<li>
								<div class="tckt-status"><span class="new green-bg">NEW</span><i>23/02/2013</i></div>
								<div class="tckt-number"><span>#AJ-569</span></div>
								<div class="ticket-info">
									<a href="javascript:void(0)" title="">There is no error in this Template</a>
									<h6>Added by Dina John</h6>
								</div>
							</li>
							<li>
								<div class="tckt-status"><span class="done blue-bg">DONE</span><i>23/02/2013</i></div>
								<div class="tckt-number"><span>#JH-784</span></div>
								<div class="ticket-info">
									<a href="javascript:void(0)" title="">How can i Buy this Admin?</a>
									<h6>Added by Bolliona</h6>
								</div>
							</li>
							<li>
								<div class="tckt-status"><span class="removed red-bg">REMOVED</span><i>23/02/2013</i></div>
								<div class="tckt-number"><span>#LD-567</span></div>
								<div class="ticket-info">
									<a href="javascript:void(0)" title="">Finest Admin ever of themeforest</a>
									<h6>Added by Nikonilina</h6>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="widget blank no-padding">
					<div class="panel panel-default work-progress-table">
						<!-- Default panel contents -->
						<div class="panel-heading">Lanbrina Scholar<i>My Work Progress</i>
							<div class="dropdown rounded">
								<button aria-expanded="true" data-toggle="dropdown" id="dropdownMenu1" type="button" class="btn btn-default dropdown-toggle">
									Options
									<span class="caret"></span>
								</button>
								<ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
									<li role="presentation"><a href="#/mail/inbox" tabindex="-1" role="menuitem">My Mail</a></li>
									<li role="presentation"><a href="#/extra/invoice" tabindex="-1" role="menuitem">Invoice</a></li>
									<li role="presentation"><a href="#/personal/profile" tabindex="-1" role="menuitem">Profile</a></li>
								</ul>
							</div>
						</div>
						<!-- Table -->
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Progress</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Mark</td>
									<td>
										<div class="progress">
											<div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="red progress-bar">
												<span>60%</span>
											</div>
										</div>
									</td>
									<td>Pending..</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Jacob</td>
									<td>
										<div class="progress">
											<div style="width: 80%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="green progress-bar">
												<span>80%</span>
											</div>
										</div>
									</td>
									<td>Checking..</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Larry</td>
									<td>
										<div class="progress">
											<div style="width: 40%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="purple progress-bar">
												<span>40%</span>
											</div>
										</div>
									</td>
									<td>Working...</td>
								</tr>
								<tr>
									<td>4</td>
									<td>John Doe</td>
									<td>
										<div class="progress">
											<div style="width: 90%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="purple progress-bar">
												<span>90%</span>
											</div>
										</div>
									</td>
									<td>Almost Done</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Brandon Daril</td>
									<td>
										<div class="progress">
											<div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="red progress-bar">
												<span>60%</span>
											</div>
										</div>
									</td>
									<td>Pending..</td>
								</tr>
								<tr>
									<td>6</td>
									<td>Mark</td>
									<td>
										<div class="progress">
											<div style="width: 45%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="red progress-bar">
												<span>45%</span>
											</div>
										</div>
									</td>
									<td>Pending..</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Jacob</td>
									<td>
										<div class="progress">
											<div style="width: 89%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="89" role="progressbar" class="green progress-bar">
												<span>89%</span>
											</div>
										</div>
									</td>
									<td>Checking..</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="widget no-padding blank">
					<div class="status-upload">
						<form>
							<textarea placeholder="What are you doing right now?"></textarea>
							<ul>
								<li><a title="Audio" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-music"></i></a></li>
								<li><a title="Video" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-video-camera"></i></a></li>
								<li><a title="Sound Record" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-microphone"></i></a></li>
								<li><a title="Picture" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-picture-o"></i></a></li>
							</ul>
							<button type="submit" class="green-bg"><i class="fa fa-share"></i> Share</button>
						</form>
					</div><!-- Status Upload  -->
				</div><!-- Widget Area -->
			</div>
			<div class="col-md-6">
				<div class="widget">
					<div class="mini-profile-widget">
						<div class="mini-profile-area">	
							<span><img src="http://placehold.it/100x100" alt="" /></span>
							<h3>Labrina Scholer</h3>
							<i>Senior Designer</i>
							<ul class="social-btns">
								<li><a href="javascript:void(0)" title=""><i class="fa fa-facebook"></i></a></li>
								<li><a href="javascript:void(0)" title=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href="javascript:void(0)" title=""><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>
						<p>Print this page to PDF for the complete set of vectors. Or to use on the desktop.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="widget">
					<div class="widget-title">
						<h3>Quick Save Draft</h3>
						<span> distance stats...</span>
						<div class="widget-controls">
							<span class="close-content"><i class="fa fa-trash-o"></i></span>
							<span class="expand-content"><i class="fa fa-expand"></i></span>
							<span class="refresh-content"><i class="fa fa-refresh"></i></span>
						</div><!-- Widget Controls -->
					</div>
					<div class="save-draft">
						<form>
							<input type="text" placeholder="Title" />
							<input type="text" placeholder="Email" />
							<textarea placeholder="Description"></textarea>
							<input type="submit" value="Save now" />
						</form>
					</div><!-- Save Draft -->
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget">
					<div class="ribbon-wrapper"><div class="ribbon-design red-bg">Tasks</div></div>
					<div class="full-report">
						<div class="user"><span><img src="http://placehold.it/100x100" alt="" /></span>
							<h3>Labrina Scholer</h3><i>Senior Designer</i>
						</div>
						<ul>
							<li><span class="fa fa-tasks"></span>New Task Issued<i>20</i></li>
							<li><span class="fa fa-bell-o"></span>Notifications<i>12</i></li>
							<li><span class="fa fa-bolt"></span>Task Pendings<i>8</i></li>
							<li><span class="fa fa-inbox"></span>Unread Messages<i>11</i></li>
							<li><span class="fa fa-user"></span>Pending Requests<i>13</i></li>
							<li><span class="fa fa-envelope"></span>Spam Emails<i>23</i></li>
							<li><span class="fa fa-cogs"></span>Pending Users<i>55</i></li>
						</ul>
					</div>
				</div><!-- Widget Area -->
			</div>
			<div class="col-md-4">
				<div class="widget">
					<div class="my-profile-widget">
						<div class="profile-widget-head">
							<h3>Labrina Scholar</h3>
							<i>Creative Designer</i>
							<span><img alt="" src="http://placehold.it/100x100"></span>
						</div>
						<h4>@labrina_scholar</h4>
						<span class="red-bg"><i class="ti-location-pin"></i>San Francisco</span>
						<p>Print this page to PDF for te completet of vectors</p>
						<a title="" href="javascript:void(0)">http://themeforest.net</a>
						<ul class="social-btns">
							<li><a href="javascript:void(0)" title=""><i class="ti-facebook"></i></a></li>
							<li><a href="javascript:void(0)" title=""><i class="ti-google"></i></a></li>
							<li><a href="javascript:void(0)" title=""><i class="ti-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="widget">
					<div class="admin-follow">
						<img src="http://placehold.it/100x100" alt="" />
						<h3>Brian Kellvin</h3>
						<span>@briankellvin</span>
						<a href="#" title="">Follow us</a>
						<ul>
							<li><i class="fa fa-heart red-bg"></i> <span>1,245</span></li>
							<li><i class="fa fa-thumb-tack blue-bg"></i> <span>7,314</span></li>
							<li><i class="fa fa-hashtag green-bg"></i> <span>9,158</span></li>
						</ul>
					</div><!-- Admin Follow -->
				</div><!-- Widget -->
			</div>
			<div class="col-md-4">
				<div class="widget">
					<div class="widget-title">
						<h3>Clients List</h3>
						<span>234 clients...</span>
						<div class="widget-controls">
							<span class="close-content"><i class="fa fa-trash-o"></i></span>
							<span class="expand-content"><i class="fa fa-expand"></i></span>
							<span class="refresh-content"><i class="fa fa-refresh"></i></span>
						</div><!-- Widget Controls -->
					</div>
					<div class="our-clients-sec">
						<div id="searchDir"></div>
						<ul id="people-list" class="client-list">
							<li>
								<span class="user-status online red-bg">J</span>
								<div class="client-info">
									<h3><a href="#" title="">Jamed line</a></h3>
									<p>creative designer</p>
									<a href="#" title=""><i class="fa fa-comment-o"></i></a>
								</div>
							</li>
							<li>
								<span class="user-status offline blue-bg">H</span>
								<div class="client-info">
									<h3><a href="#" title="">Hurisa joe</a></h3>
									<p>marketing</p>
									<a href="#" title=""><i class="fa fa-comment-o"></i></a>
								</div>
							</li>
							<li>
								<span class="user-status away green-bg">K</span>
								<div class="client-info">
									<h3><a href="#" title="">Komail set</a></h3>
									<p>supervisor</p>
									<a href="#" title=""><i class="fa fa-comment-o"></i></a>
								</div>
							</li>
							<li>
								<span class="user-status away skyblue-bg">B</span>
								<div class="client-info">
									<h3><a href="#" title="">Bason Durel</a></h3>
									<p>web developer</p>
									<a href="#" title=""><i class="fa fa-comment-o"></i></a>
								</div>
							</li>
							<li>
								<span class="user-status offline red-bg">D</span>
								<div class="client-info">
									<h3><a href="#" title="">Danzil Dare</a></h3>
									<p>software engineer</p>
									<a href="#" title=""><i class="fa fa-comment-o"></i></a>
								</div>
							</li>
							<li>
								<span class="user-status online blue-bg">Z</span>
								<div class="client-info">
									<h3><a href="#" title="">Zubain Dui</a></h3>
									<p>road master</p>
									<a href="#" title=""><i class="fa fa-comment-o"></i></a>
								</div>
							</li>
							<li>
								<span class="user-status online green-bg">L</span>
								<div class="client-info">
									<h3><a href="#" title="">Lara Croft</a></h3>
									<p>content writer</p>
									<a href="#" title=""><i class="fa fa-comment-o"></i></a>
								</div>
							</li>
							<li>
								<span class="user-status offline skyblue-bg">B</span>
								<div class="client-info">
									<h3><a href="#" title="">Bisman Dazy</a></h3>
									<p>blogger</p>
									<a href="#" title=""><i class="fa fa-comment-o"></i></a>
								</div>
							</li>
						</ul>
					</div><!-- Our Clients Sec -->
				</div><!-- Widget -->
			</div>
			<div class="col-md-4">
				<div class="widget">
					<div class="product-sale">
						<img src="http://placehold.it/329x434" alt="" />
						<div class="product-info">
							<h3><a href="#" title="">Classic Shirt</a></h3>
							<p>Lorem ipsum dolor sit amet, constur adipiscing elit hell to bob.</p>
							<span class="price">
								<ins><i class="fa fa-shopping-cart"></i>$58</ins>
								<del>$75</del>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="widget">
					<div class="widget-title">
						<h3>Activity Feed</h3>
						<span>Here comes the feed</span>
					</div>
					<div class="activity-feed">
						<ul id="activity-scroll">
							<li>
								<span><i class="fa fa-upload green-bg"></i></span>
								<h3>New Upload</h3>
								<p>New file <a href="#" title="">document.doc</a> uploaded to the cloud</p>
								<i>2 min ago</i>
							</li>
							<li>
								<span><i class="fa fa-file blue-bg"></i></span>
								<h3>New Document</h3>
								<p>New document <a href="#" title="">lorem ipsum.txt</a> created</p>
								<i>4 min ago</i>
							</li>
							<li>
								<span><i class="fa fa-info red-bg"></i></span>
								<h3>Important Notification</h3>
								<p>There is <a href="#" title="">Server 10</a> is not working Properly</p>
								<i>1 hour ago</i>
							</li>
							<li>
								<span><img src="http://placehold.it/40x40" alt="" /></span>
								<h3>New Upload</h3>
								<p>New file <a href="#" title="">document.doc</a> uploaded to the cloud</p>
								<i>today</i>
							</li>
							<li>
								<span><i class="fa fa-info red-bg"></i></span>
								<h3>Important Notification</h3>
								<p>There is <a href="#" title="">Server 10</a> is not working Properly</p>
								<i>1 hour ago</i>
							</li>
							<li>
								<span><img src="http://placehold.it/40x40" alt="" /></span>
								<h3>New Upload</h3>
								<p>New file <a href="#" title="">document.doc</a> uploaded to the cloud</p>
								<i>today</i>
							</li>
							<li>
								<span><i class="fa fa-upload green-bg"></i></span>
								<h3>New Upload</h3>
								<p>New file <a href="#" title="">document.doc</a> uploaded to the cloud</p>
								<i>2 min ago</i>
							</li>
							<li>
								<span><i class="fa fa-file blue-bg"></i></span>
								<h3>New Document</h3>
								<p>New document <a href="#" title="">lorem ipsum.txt</a> created</p>
								<i>4 min ago</i>
							</li>
							<li>
								<span><i class="fa fa-info red-bg"></i></span>
								<h3>Important Notification</h3>
								<p>There is <a href="#" title="">Server 10</a> is not working Properly</p>
								<i>1 hour ago</i>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget blank">
					<div class="tweet-widget">
						<div class="ribbon-wrapper"><div class="ribbon-design skyblue-bg">Twitter</div></div>
						<img src="http://placehold.it/394x216" alt="" />
						<div class="twitter-profile">
							<span><img src="http://placehold.it/100x100" alt="" /></span>
							<h3>@NataliaQueenart<i title="Verified" class="fa fa-check skyblue-bg" data-toggle="tooltip" data-placement="top"></i></h3>
							<h4>Creative Graphic Designer</h4>
						</div>
						<ul class="twitter-activity">
							<li><i>Followers</i><span>88,900</span></li>
							<li><i>Following</i><span>2,090</span></li>
							<li><i>Tweets</i><span>409</span></li>
						</ul>
					</div><!-- Twitter Widget -->
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget dark-bg">
					<div class="with-padding">
						<div class="profile-views-widget">
							<div class="profile-thumb">
								<span><img src="http://placehold.it/100x100" alt="" /></span>
								<h3>JAFIR DOE</h3>
								<i>SENIOR DESIGNER</i>
							</div>
							<div class="profile-views-progress">
								<h5>Profile views</h5>
								<ul>
									<li>
										<div class="progress">
											<div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar skyblue-bg">
											</div>
										</div>
										<i>TRACKED</i>
										<h4>789</h4>
									</li>
									<li>
										<div class="progress">
											<div style="width: 45%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="progress-bar skyblue-bg">
											</div>
										</div>
										<i>VISITS</i>
										<h4>2,240</h4>
									</li>
									<li>
										<div class="progress">
											<div style="width: 80%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar skyblue-bg">
											</div>
										</div>
										<i>COSTUMERS</i>
										<h4>89,904</h4>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="widget">
					<div class="with-padding">
						<div class="database-migration">
							<h3>Database Migration</h3>
							<div class="progress w-tooltip">
								<div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="green-bg progress-bar">
									<span><i>Today</i>$2,230</span>
									<i>1 hour left</i>
								</div>
							</div>
							<div class="progress w-tooltip">
								<div style="width: 85%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="green-bg progress-bar">
									<span><i>Today</i>$2,230</span>
									<i>1 hour left</i>
								</div>
							</div>
							<i class="up-or-down">45+</i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="widget">
					<div class="social-activities">
						<ul>
							<li><i class="ti-facebook" style="background-color:#417db5;"></i><h3>89k</h3><span>FRIENDS</span></li>
							<li><i class="ti-google" style="background-color:#fb3434;"></i><h3>785</h3><span>FOLLOWERS</span></li>
							<li><i class="ti-linkedin" style="background-color:#3f73a4;"></i><h3>670+</h3><span>CONTACTS</span></li>
							<li><i class="ti-twitter" style="background-color:#5bafff;"></i><h3>456k</h3><span>FOLLOWERS</span></li>
							<li><i class="ti-soundcloud" style="background-color:#ff973a;"></i><h3>4k</h3><span>FOLLOWERS</span></li>
							<li><i class="ti-vimeo" style="background-color:#444444;"></i><h3>6,986</h3><span>VIEWS</span></li>
						</ul>
						<a href="javascript:void(0)" title="">See all activities</a>
					</div><!-- Social Activities -->
				</div>
			</div>
			<div class="col-md-8">
				<div class="widget">
					<div class="quick-flat-chart">
						<span>$340 <i>+125.00%</i></span>
						<p class="red-bg">MONDAY</p>
						<div class="graph-container">
							<div id="chart" style="height:230px"></div>
						</div>
						<div class="flat-chart-detail">
							<ul>
								<li><span>Market</span><p>$12,234,000</p></li>
								<li><span>Referrel</span><p>$50,335.000</p></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
