<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>WYSIWYG Editor</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>WYSIWYG Editor</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="widget blank">
					<div class="navbar"><div id="toolbar"></div></div>
					<div id="wrapper">
						<div id="content-editor" class="clear">
							<p><strong>fresherEditor</strong> is a light-weight WYSIWYG rich text editor plugin that uses <em>contentEditable</em> support in modern browsers for in-place HTML editing.</p>
							<p>Click on this text to edit right away!</p>
							<h2>Features</h2>
							<ol>
								<li>Supports all text editing features such as bold, italic, font size and font name settings, text alignments, links and picture insertion, and more</li>
								<li>Builds toolbar automatically. By default, all buttons are built. You can configure which buttons to hide</li>
								<li>Triggers 'change' event so you can perform action when html content changes</li>
								<li>Uses <a href='http://twitter.github.com/bootstrap/index.html'>Twitter Bootstrap</a></li>
							</ol>
							
							<h2>Dependencies</h2>
							<ul>
								<li>jQuery (1.7.1 or higher is recommended)</li>
								<li>shortcut.js</li>
								<li>farbtastic colorpicker plugin</li>
								<li>Twitter bootstrap.css and bootstrap-dropdown.js</li>
							</ul>
							
							<p>jQuery ContentEditable depends on jQuery and <em>shortcut.js</em> for keyboard shortcuts, as given below.</p>
							
							
							<h3>Some jQuery Calls:</h3>
							<ol>
								<li>To initialise the toolbar, call <em>$(".fresheditable").fresheditor();</em><br />
								</li>
								<li>To start/stop editing, call <em>$(".fresheditable").fresheditor("edit", true);</em> for editable elements.</li>
								<li>To save, call <em>$(".fresheditable").fresheditor("save", function(id, content) { ... });</em> to have the callback function called for each editable element being saved.</li>
								<li>To perform action on change event <em>$(".fresheditable").on('change', function() { ... });</em></li>
							</ol>
							<h2>Keyboard Shortcuts</h2>
							<ul>
								<li><strong>Tab</strong> indents the selected content</li>
								<li><strong>Shift+Tab</strong> outdents selected content</li>
								<li><strong>Ctrl+B</strong> makes text <strong>bold</strong><br />
								</li>
								<li><strong>Ctrl+I</strong> makes text <em>italic</em></li>
								<li><strong>Ctrl+U</strong> <u>underlines</u> text</li>
								<li><strong>Ctrl+L</strong> inserts a <a href="#">link</a><br />
								</li>
								<li><strong>Ctrl+Alt+0</strong> formats a paragraph</li>
								<li><strong>Ctrl+Alt+1</strong> through <strong>Ctrl+Alt+5</strong> adds headings 1 through 5</li>
								<li><strong>Ctrl+J</strong> creates an unordered list, like this one<br />
								</li>
								<li><strong>Ctrl+K</strong> creates an ordered list.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->


