<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Blog Style 1</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Blog Style 1</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="blog-sec">
					<div class="row">
						<div class="col-md-6">
							<div class="blog">
								<div class="blog-thumb">
									<a href="javascript:void(0)" title=""><img src="http://placehold.it/570x345" alt="" /></a>
								</div>
								<div class="blog-info">
									<a href="javascript:void(0)" title="">25/05/2015</a>
									<h2><a href="javascript:void(0)" title="">Mentorship – Pathway to Success.</a></h2>
									<p>Becoming an expert in your career doesn’t come without obstacles. Even those born <a  title="">[more]</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="blog">
								<div class="blog-thumb">
									<a href="javascript:void(0)" title=""><img src="http://placehold.it/570x345" alt="" /></a>
								</div>
								<div class="blog-info">
									<a href="javascript:void(0)" title="">25/05/2015</a>
									<h2><a href="javascript:void(0)" title="">The Visionary-Integ lessons Recession</a></h2>
									<p>Becoming an expert in your career doesn’t come without obstacles. Even those born <a  title="">[more]</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="blog">
								<div class="blog-thumb">
									<a href="javascript:void(0)" title=""><img src="http://placehold.it/570x345" alt="" /></a>
								</div>
								<div class="blog-info">
									<a href="javascript:void(0)" title="">25/05/2015</a>
									<h2><a href="javascript:void(0)" title="">Mentorship – Pathway to Success.</a></h2>
									<p>Becoming an expert in your career doesn’t come without obstacles. Even those born <a  title="">[more]</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="blog">
								<div class="blog-thumb">
									<a href="javascript:void(0)" title=""><img src="http://placehold.it/570x345" alt="" /></a>
								</div>
								<div class="blog-info">
									<a href="javascript:void(0)" title="">25/05/2015</a>
									<h2><a href="javascript:void(0)" title="">The Visionary-Integ lessons Recession</a></h2>
									<p>Becoming an expert in your career doesn’t come without obstacles. Even those born <a  title="">[more]</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="blog">
								<div class="blog-thumb">
									<a href="javascript:void(0)" title=""><img src="http://placehold.it/570x345" alt="" /></a>
								</div>
								<div class="blog-info">
									<a href="javascript:void(0)" title="">25/05/2015</a>
									<h2><a href="javascript:void(0)" title="">Mentorship – Pathway to Success.</a></h2>
									<p>Becoming an expert in your career doesn’t come without obstacles. Even those born <a  title="">[more]</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="blog">
								<div class="blog-thumb">
									<a href="javascript:void(0)" title=""><img src="http://placehold.it/570x345" alt="" /></a>
								</div>
								<div class="blog-info">
									<a href="javascript:void(0)" title="">25/05/2015</a>
									<h2><a href="javascript:void(0)" title="">The Visionary-Integ lessons Recession</a></h2>
									<p>Becoming an expert in your career doesn’t come without obstacles. Even those born <a  title="">[more]</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="pagination">
								<ul>
									<li class="prev"><a href="">Prev</a></li>
									<li><a href="">1</a></li>
									<li class="active"><a href="">2</a></li>
									<li><a href="">3</a></li>
									<li><a href="">4</a></li>
									<li><a href="">5</a></li>
									<li><span class="delimeter">...</span></li>
									<li><a href="">8</a></li>
									<li class="next"><a href="">Next</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
