<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Buttons Page</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Buttons</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="widget with-padding">
					<div class="widget-area">
						<div class="widget-title no-padding no-margin">
							<h3>2D Transform Button</h3>
						</div>
						<div class="button-sec">
							<a href="javascript:void(0)" class="button grow">Grow</a>
							<a href="javascript:void(0)" class="button shrink">Shrink</a>
							<a href="javascript:void(0)" class="button pulse">Pulse</a>
							<a href="javascript:void(0)" class="button pulse-grow">Pulse Grow</a>
							<a href="javascript:void(0)" class="button pulse-shrink">Pulse Shrink</a>
							<a href="javascript:void(0)" class="button push">Push</a>
							<a href="javascript:void(0)" class="button pop">Pop</a>
							<a href="javascript:void(0)" class="button rotate">Rotate</a>
							<a href="javascript:void(0)" class="button grow-rotate">Grow Rotate</a>
							<a href="javascript:void(0)" class="button float">Float</a>
							<a href="javascript:void(0)" class="button sink">Sink</a>
							<a href="javascript:void(0)" class="button hover">Hover</a>
							<a href="javascript:void(0)" class="button hang">Hang</a>
							<a href="javascript:void(0)" class="button skew">Skew</a>
							<a href="javascript:void(0)" class="button skew-forward">Skew Forward</a>
							<a href="javascript:void(0)" class="button skew-backward">Skew Backward</a>
							<a href="javascript:void(0)" class="button wobble-horizontal">Wobble Horizontal</a>
							<a href="javascript:void(0)" class="button wobble-vertical">Wobble Vertical</a>
							<a href="javascript:void(0)" class="button wobble-to-bottom-right">Wobble To Bottom Right</a>
							<a href="javascript:void(0)" class="button wobble-to-top-right">Wobble To Top Right</a>
							<a href="javascript:void(0)" class="button wobble-top">Wobble Top</a>
							<a href="javascript:void(0)" class="button wobble-bottom">Wobble Bottom</a>
							<a href="javascript:void(0)" class="button wobble-skew">Wobble Skew</a>
							<a href="javascript:void(0)" class="button buzz">Buzz</a>
							<a href="javascript:void(0)" class="button buzz-out">Buzz Out</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget  with-padding">
					<div class="button-area">
						<div class="widget-title no-padding no-margin">
							<h3>2D Transform Button</h3>
						</div>
						<div class="button-sec">
							<a href="javascript:void(0)" class="button grow">Grow</a>
							<a href="javascript:void(0)" class="button shrink">Shrink</a>
							<a href="javascript:void(0)" class="button pulse">Pulse</a>
							<a href="javascript:void(0)" class="button pulse-grow">Pulse Grow</a>
							<a href="javascript:void(0)" class="button pulse-shrink">Pulse Shrink</a>
							<a href="javascript:void(0)" class="button push">Push</a>
							<a href="javascript:void(0)" class="button pop">Pop</a>
							<a href="javascript:void(0)" class="button rotate">Rotate</a>
							<a href="javascript:void(0)" class="button grow-rotate">Grow Rotate</a>
							<a href="javascript:void(0)" class="button float">Float</a>
							<a href="javascript:void(0)" class="button sink">Sink</a>
							<a href="javascript:void(0)" class="button hover">Hover</a>
							<a href="javascript:void(0)" class="button hang">Hang</a>
							<a href="javascript:void(0)" class="button skew">Skew</a>
							<a href="javascript:void(0)" class="button skew-forward">Skew Forward</a>
							<a href="javascript:void(0)" class="button skew-backward">Skew Backward</a>
							<a href="javascript:void(0)" class="button wobble-horizontal">Wobble Horizontal</a>
							<a href="javascript:void(0)" class="button wobble-vertical">Wobble Vertical</a>
							<a href="javascript:void(0)" class="button wobble-to-bottom-right">Wobble To Bottom Right</a>
							<a href="javascript:void(0)" class="button wobble-to-top-right">Wobble To Top Right</a>
							<a href="javascript:void(0)" class="button wobble-top">Wobble Top</a>
							<a href="javascript:void(0)" class="button wobble-bottom">Wobble Bottom</a>
							<a href="javascript:void(0)" class="button wobble-skew">Wobble Skew</a>
							<a href="javascript:void(0)" class="button buzz">Buzz</a>
							<a href="javascript:void(0)" class="button buzz-out">Buzz Out</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget with-padding">
					<div class="button-area">
						<div class="widget-title no-padding no-margin">
							<h3>Border Transition</h3>
						</div>
						<div class="button-sec">
							<a href="javascript:void(0)" class="button border-fade">Border Fade</a>
							<a href="javascript:void(0)" class="button hollow">Hollow</a>
							<a href="javascript:void(0)" class="button trim">Trim</a>
							<a href="javascript:void(0)" class="button outline-outward">Outline Outward</a>
							<a href="javascript:void(0)" class="button outline-inward">Outline Inward</a>
							<a href="javascript:void(0)" class="button round-corners">Round Corners</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget with-padding">
					<div class="button-area">
						<div class="widget-title no-padding no-margin">
							<h3>Shadow & Glow Transition</h3>
						</div>
						<div class="button-sec">
							<a href="javascript:void(0)" class="button glow">Glow</a>
							<a href="javascript:void(0)" class="button box-shadow-outset">Box Shadow Outset</a>
							<a href="javascript:void(0)" class="button box-shadow-inset">Box Shadow Inset</a>
							<a href="javascript:void(0)" class="button float-shadow">Float Shadow</a>
							<a href="javascript:void(0)" class="button hover-shadow">Hover Shadow</a>
							<a href="javascript:void(0)" class="button shadow-radial">Shadow Radial</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget with-padding">
					<div class="button-area">
						<div class="widget-title no-padding no-margin">
							<h3>Speech Bubbles</h3>
						</div>
						<div class="button-sec">
							<a href="javascript:void(0)" class="button bubble-top">Bubble Top</a>
							<a href="javascript:void(0)" class="button bubble-right">Bubble Right</a>
							<a href="javascript:void(0)" class="button bubble-bottom">Bubble Bottom</a>
							<a href="javascript:void(0)" class="button bubble-left">Bubble Left</a>
							<a href="javascript:void(0)" class="button bubble-float-top">Bubble Float Top</a>
							<a href="javascript:void(0)" class="button bubble-float-right">Bubble Float Right</a>
							<a href="javascript:void(0)" class="button bubble-float-bottom">Bubble Float Bottom</a>
							<a href="javascript:void(0)" class="button bubble-float-left">Bubble Float Left</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget with-padding">
					<div class="button-area">
						<div class="widget-title no-padding no-margin">
							<h3>Curls Bubbles</h3>
						</div>
						<div class="button-sec">
							<a href="javascript:void(0)" class="button curl-top-left">Curl Top Left</a>
							<a href="javascript:void(0)" class="button curl-top-right">Curl Top Right</a>
							<a href="javascript:void(0)" class="button curl-bottom-right">Curl Bottom Right</a>
							<a href="javascript:void(0)" class="button curl-bottom-left">Curl Bottom Left</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="widget with-padding">
					<div class="button-area">
						<div class="widget-title no-padding no-margin">
							<h3>Custom Buttons</h3>
						</div>
						<div class="button-sec">
							<a href="javascript:void(0)" class="tag-button hover-red">Html</a>
							<a href="javascript:void(0)" class="tag-button hover-blue">Css</a>
							<a href="javascript:void(0)" class="tag-button hover-green">Wordpress</a>
							<a href="javascript:void(0)" class="tag-button hover-skyblue">Design</a>
							<a href="javascript:void(0)" class="tag-button hover-red">Web</a>
							<a href="javascript:void(0)" class="tag-button hover-blue">Website</a>
							<a href="javascript:void(0)" class="tag-button hover-green">Code</a>
							<a href="javascript:void(0)" class="tag-button hover-skyblue">More</a>
							<a href="javascript:void(0)" class="tag-button hover-red">Creative</a>
							<a href="javascript:void(0)" class="tag-button hover-blue">Admin</a>
							<a href="javascript:void(0)" class="tag-button hover-green">Themeforest</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="widget with-padding">
					<div class="button-area">
						<div class="widget-title no-padding no-margin">
							<h3>Dynamic Tags Buttons</h3>
						</div>
						<div class="button-sec">
							<div class="dynamic-tags">
								<input id="tags_1" type="text" class="tags" value="Here,you,can,add,tags,just,write,and,enter" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget with-padding">
					<div class="widget-title no-padding no-margin">
						<h3>Custom Buttons with Color Sizes</h3>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="button-area">
								<div class="button-sec">
									<p>
										<a href="javascript:void(0)" title="" class="c-btn large red-bg">Large</a>
										<a href="javascript:void(0)" title="" class="c-btn large green-bg">Large</a>
										<a href="javascript:void(0)" title="" class="c-btn large blue-bg">Large</a>
										<a href="javascript:void(0)" title="" class="c-btn large skyblue-bg">Large</a>
									</p>
									<p>
										<a href="javascript:void(0)" title="" class="c-btn medium red-bg">Medium</a>
										<a href="javascript:void(0)" title="" class="c-btn medium green-bg">Medium</a>
										<a href="javascript:void(0)" title="" class="c-btn medium blue-bg">Medium</a>
										<a href="javascript:void(0)" title="" class="c-btn medium skyblue-bg">Medium</a>
									</p>
									<p>
										<a href="javascript:void(0)" title="" class="c-btn small red-bg">Small</a>
										<a href="javascript:void(0)" title="" class="c-btn small green-bg">Small</a>
										<a href="javascript:void(0)" title="" class="c-btn small blue-bg">Small</a>
										<a href="javascript:void(0)" title="" class="c-btn small skyblue-bg">Small</a>
									</p>
									<p>
										<a href="javascript:void(0)" title="" class="c-btn mini red-bg">Mini</a>
										<a href="javascript:void(0)" title="" class="c-btn mini green-bg">Mini</a>
										<a href="javascript:void(0)" title="" class="c-btn mini blue-bg">Mini</a>
										<a href="javascript:void(0)" title="" class="c-btn mini skyblue-bg">Mini</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="button-area">
								<div class="button-sec">
									<p>
										<a href="javascript:void(0)" title="" class="c-btn large red-bg radius-s">Large</a>
										<a href="javascript:void(0)" title="" class="c-btn large green-bg radius-n">Large</a>
										<a href="javascript:void(0)" title="" class="c-btn large blue-bg radius-m">Large</a>
										<a href="javascript:void(0)" title="" class="c-btn large skyblue-bg radius-l">Large</a>
									</p>
									<p>
										<a href="javascript:void(0)" title="" class="c-btn medium red-bg radius-s">Medium</a>
										<a href="javascript:void(0)" title="" class="c-btn medium green-bg radius-n">Medium</a>
										<a href="javascript:void(0)" title="" class="c-btn medium blue-bg radius-m">Medium</a>
										<a href="javascript:void(0)" title="" class="c-btn medium skyblue-bg radius-l">Medium</a>
									</p>
									<p>
										<a href="javascript:void(0)" title="" class="c-btn small red-bg radius-s">Small</a>
										<a href="javascript:void(0)" title="" class="c-btn small green-bg radius-n">Small</a>
										<a href="javascript:void(0)" title="" class="c-btn small blue-bg radius-m">Small</a>
										<a href="javascript:void(0)" title="" class="c-btn small skyblue-bg radius-l">Small</a>
									</p>
									<p>
										<a href="javascript:void(0)" title="" class="c-btn mini red-bg radius-s">Mini</a>
										<a href="javascript:void(0)" title="" class="c-btn mini green-bg radius-n">Mini</a>
										<a href="javascript:void(0)" title="" class="c-btn mini blue-bg radius-m">Mini</a>
										<a href="javascript:void(0)" title="" class="c-btn mini skyblue-bg radius-l">Mini</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget with-padding">
					<div class="button-area">
						<div class="widget-title no-padding no-margin">
							<h3>Bootstrap Buttons With Colors & Sizes</h3>
						</div>
						<div class="button-sec">
							<p>
								<button class="btn btn-default large" type="button">Default</button>
								<button class="btn btn-primary large" type="button">Primary</button>
								<button class="btn btn-success large" type="button">Success</button>
								<button class="btn btn-info large" type="button">Info</button>
								<button class="btn btn-warning large" type="button">Warning</button>
								<button class="btn btn-danger large" type="button">Danger</button>
								<button class="btn btn-link large" type="button">Link</button>
							</p>
							<p>
								<button class="btn btn-default medium" type="button">Default</button>
								<button class="btn btn-primary medium" type="button">Primary</button>
								<button class="btn btn-success medium" type="button">Success</button>
								<button class="btn btn-info medium" type="button">Info</button>
								<button class="btn btn-warning medium" type="button">Warning</button>
								<button class="btn btn-danger medium" type="button">Danger</button>
								<button class="btn btn-link medium" type="button">Link</button>
							</p>
							<p>
								<button class="btn btn-default small" type="button">Default</button>
								<button class="btn btn-primary small" type="button">Primary</button>
								<button class="btn btn-success small" type="button">Success</button>
								<button class="btn btn-info small" type="button">Info</button>
								<button class="btn btn-warning small" type="button">Warning</button>
								<button class="btn btn-danger small" type="button">Danger</button>
								<button class="btn btn-link small" type="button">Link</button>
							</p>
							<p>
								<button class="btn btn-default mini" type="button">Default</button>
								<button class="btn btn-primary mini" type="button">Primary</button>
								<button class="btn btn-success mini" type="button">Success</button>
								<button class="btn btn-info mini" type="button">Info</button>
								<button class="btn btn-warning mini" type="button">Warning</button>
								<button class="btn btn-danger mini" type="button">Danger</button>
								<button class="btn btn-link mini" type="button">Link</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget with-padding">
					<div class="button-area">
						<div class="widget-title no-padding no-margin">
							<h3>Bootstrap Disabled Buttons With Colors & Sizes</h3>
						</div>
						<div class="button-sec">
							<p>
								<button class="btn btn-default large" type="button" disabled="disabled">Default</button>
								<button class="btn btn-primary large" type="button" disabled="disabled">Primary</button>
								<button class="btn btn-success large" type="button" disabled="disabled">Success</button>
								<button class="btn btn-info large" type="button" disabled="disabled">Info</button>
								<button class="btn btn-warning large" type="button" disabled="disabled">Warning</button>
								<button class="btn btn-danger large" type="button" disabled="disabled">Danger</button>
								<button class="btn btn-link large" type="button" disabled="disabled">Link</button>
							</p>
							<p>
								<button class="btn btn-default medium" type="button" disabled="disabled">Default</button>
								<button class="btn btn-primary medium" type="button" disabled="disabled">Primary</button>
								<button class="btn btn-success medium" type="button" disabled="disabled">Success</button>
								<button class="btn btn-info medium" type="button" disabled="disabled">Info</button>
								<button class="btn btn-warning medium" type="button" disabled="disabled">Warning</button>
								<button class="btn btn-danger medium" type="button" disabled="disabled">Danger</button>
								<button class="btn btn-link medium" type="button" disabled="disabled">Link</button>
							</p>
							<p>
								<button class="btn btn-default small" type="button" disabled="disabled">Default</button>
								<button class="btn btn-primary small" type="button" disabled="disabled">Primary</button>
								<button class="btn btn-success small" type="button" disabled="disabled">Success</button>
								<button class="btn btn-info small" type="button" disabled="disabled">Info</button>
								<button class="btn btn-warning small" type="button" disabled="disabled">Warning</button>
								<button class="btn btn-danger small" type="button" disabled="disabled">Danger</button>
								<button class="btn btn-link small" type="button" disabled="disabled">Link</button>
							</p>
							<p>
								<button class="btn btn-default mini" type="button" disabled="disabled">Default</button>
								<button class="btn btn-primary mini" type="button" disabled="disabled">Primary</button>
								<button class="btn btn-success mini" type="button" disabled="disabled">Success</button>
								<button class="btn btn-info mini" type="button" disabled="disabled">Info</button>
								<button class="btn btn-warning mini" type="button" disabled="disabled">Warning</button>
								<button class="btn btn-danger mini" type="button" disabled="disabled">Danger</button>
								<button class="btn btn-link mini" type="button" disabled="disabled">Link</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget with-padding">
					<div class="button-area">
						<div class="widget-title no-padding no-margin">
							<h3>Icon Button</h3>
						</div>
						<div class="button-sec">
							<p>
								<a href="javascript:void(0)" title="" class="icon-btn"><i class="fa fa-bolt red-bg"></i> Designer</a>
								<a href="javascript:void(0)" title="" class="icon-btn"><i class="fa fa-user green-bg"></i> Coder</a>
								<a href="javascript:void(0)" title="" class="icon-btn"><i class="fa fa-flask blue-bg"></i> Flash</a>
								<a href="javascript:void(0)" title="" class="icon-btn"><i class="fa fa-tint skyblue-bg"></i> Color</a>
								<a href="javascript:void(0)" title="" class="icon-btn">No Color Button</a>
								<a href="javascript:void(0)" title="" class="icon-btn"><i class="fa fa-css3 green-bg"></i> Html5</a>
								<a href="javascript:void(0)" title="" class="icon-btn"><i class="fa fa-leaf red-bg"></i> Css3</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget">
					<div class="widget-title">
						<h3>DropDown Examples</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<div class="with-padding">
						<div class="dropdown-example">
							<ul class="nav nav-pills">
								<li class="dropup">
									<a data-toggle="dropdown" role="button" id="drop6" class="red-bg">DropUp 1<b class="caret"></b></a>
									<ul aria-labelledby="drop6" role="menu" class="dropdown-menu" id="menu6">
										<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
										<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
										<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
										<li class="divider" role="presentation"></li>
										<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
									</ul>
								</li>
								<li class="dropup">
									<a  data-toggle="dropdown" role="button" id="drop7" class="skyblue-bg">DropUp 2 <b class="caret"></b></a>
									<ul aria-labelledby="drop7" role="menu" class="dropdown-menu" id="menu7">
										<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
										<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
										<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
										<li class="divider" role="presentation"></li>
										<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a  data-toggle="dropdown" role="button" id="drop8" class="blue-bg">Dropdown 3 <b class="caret"></b></a>
									<ul aria-labelledby="drop8" role="menu" class="dropdown-menu" id="menu8">
										<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
									</ul>
								</li>
								
								<li class="dropdown">
									<a  data-toggle="dropdown" role="button" id="drop9" class="green-bg">Dropdown 3 <b class="caret"></b></a>
									<ul aria-labelledby="drop9" role="menu" class="dropdown-menu" id="menu9">
										<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
									</ul>
								</li>
							</ul>               
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget">
					<div class="widget-title">
						<h3>Split DropDown Example</h3>
						<span>100+ Widgets</span>
					</div>
					<div class="with-padding">
						<div class="btn-group">
							<button data-original-title="" type="button" class="btn btn-danger">Split Drop to Down</button>
							<button data-original-title="" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a data-original-title="" href="#">Action</a></li>
								<li><a data-original-title="" href="#">Another action</a></li>
								<li><a data-original-title="" href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a data-original-title="" href="#">Separated link</a></li>
							</ul>
						</div>
						
						<div class="btn-group">
							<button data-original-title="" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
								Normal DropDown<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a data-original-title="" href="#">Action</a></li>
								<li><a data-original-title="" href="#">Another action</a></li>
								<li><a data-original-title="" href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a data-original-title="" href="#">Separated link</a></li>
							</ul>
						</div>
						
						<div class="btn-group dropup">
							<button data-original-title="" type="button" class="btn btn-success">Top Up DropDown With Split</button>
							<button data-original-title="" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a data-original-title="" href="#">Action</a></li>
								<li><a data-original-title="" href="#">Another action</a></li>
								<li><a data-original-title="" href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a data-original-title="" href="#">Separated link</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
