<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Calculator</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Calculator</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="widget white with-padding">
					<div class="calculator">
						<div id="calculator">
							<!-- Screen and clear key -->
							<div class="row">	
								<div class="top">
									<div class="col-md-3"><span class="clear red-bg">C</span></div>
									<div class="col-md-9"><div class="screen gray"></div></div>
								</div>
							</div>
							<div class="row">	
								<div class="keys">
									<!-- operators and other keys -->
									<div class="col-md-3"><span>7</span></div>
									<div class="col-md-3"><span>8</span></div>
									<div class="col-md-3"><span>9</span></div>
									<div class="col-md-3"><span class="operator">+</span></div>
									<div class="col-md-3"><span>4</span></div>
									<div class="col-md-3"><span>5</span></div>
									<div class="col-md-3"><span>6</span></div>
									<div class="col-md-3"><span class="operator">-</span></div>
									<div class="col-md-3"><span>1</span></div>
									<div class="col-md-3"><span>2</span></div>
									<div class="col-md-3"><span>3</span></div>
									<div class="col-md-3"><span class="operator">÷</span></div>
									<div class="col-md-3"><span>0</span></div>
									<div class="col-md-3"><span>.</span></div>
									<div class="col-md-3"><span class="eval">=</span></div>
									<div class="col-md-3"><span class="operator">x</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
