<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Cart Page</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Cart</li>
	</ul>
	<div class="main-content-area">
		<div class="cart-lists">
			<ul>
				<li>
					<div class="cart-thumb">
						<span><img src="http://placehold.it/270x371" alt="" /></span>
						<a class="delete-cart" title=""><i class="fa fa-trash-o"></i></a>
						<h3><a href="javascript:void(0)" title="">Your Personal Gateway</a></h3>
						<div class="price-cart-item">
							<span>$567</span>
						</div>
						<p>The best item that you can get</p>
					</div>
					<div class="c-input-number">
						<span><input id="box1" type="text" class="manual-adjust" value="0"/></span>
					</div>
					<div class="cart-item-quantity">
						<i class="fa  fa-shopping-basket"></i>
						<span>Quantity : 3</span>
					</div>
				</li>
				<li>
					<div class="cart-thumb">
						<span><img src="http://placehold.it/270x371" alt="" /></span>
						<a class="delete-cart" title=""><i class="fa fa-trash-o"></i></a>
						<h3><a href="javascript:void(0)" title="">Your Personal Gateway</a></h3>
						<div class="price-cart-item">
							<span>$567</span>
						</div>
						<p>The best item that you can get</p>
					</div>
					<div class="c-input-number">
						<span><input id="box1" type="text" class="manual-adjust" value="0"/></span>
					</div>
					<div class="cart-item-quantity">
						<i class="fa  fa-shopping-basket"></i>
						<span>Quantity : 3</span>
					</div>
				</li>
				<li>
					<div class="cart-thumb">
						<span><img src="http://placehold.it/270x371" alt="" /></span>
						<a class="delete-cart" title=""><i class="fa fa-trash-o"></i></a>
						<h3><a href="javascript:void(0)" title="">Your Personal Gateway</a></h3>
						<div class="price-cart-item">
							<span>$567</span>
						</div>
						<p>The best item that you can get</p>
					</div>
					<div class="c-input-number">
						<span><input id="box1" type="text" class="manual-adjust" value="0"/></span>
					</div>
					<div class="cart-item-quantity">
						<i class="fa  fa-shopping-basket"></i>
						<span>Quantity : 3</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="coupens-area">
			<div class="coupon">
				<label>Coupon:</label>
				<input type="text" placeholder="Coupon code">
				<input type="submit" value="Apply Coupon" class="flat-btn">
			</div>
			<input type="submit" class="flat-btn" name="update_cart" value="Update Cart">
			<input type="submit" class="checkout-button flat-btn" name="proceed" value="Proceed to Checkout">
		</div>
		<div class="row">
			<div class="col-md-6 column">
				<div class="cart-total-box">
					<h2 class="cart-head-title">CART TOTAL</h2>
					<ul>
						<li><h3>Cart Subtotal</h3> <span>£50.00</span></li>
						<li><h3>Shipping</h3> <span>Free Shipping</span></li>
						<li><h3>Order Total</h3> <span>$335</span></li>
					</ul>
				</div><!-- Cart  -->
			</div>
			<div class="col-md-6 column">
				<div class="cart-total-box">
					<h2 class="cart-head-title">CALCULATE SHIPPING</h2>
					<ul>
						<li>
							<select>
								<option>Select Country</option>
								<option>United Stats</option>
								<option>India</option>
								<option>Pakistan</option>
								<option>Malaysia</option>
								<option>Banglor</option>
							</select>
						</li>
						<li>
							<select>
								<option>Select Stats</option>
								<option>United Stats</option>
								<option>India</option>
								<option>Pakistan</option>
								<option>Malaysia</option>
								<option>Banglor</option>
							</select>
						</li>
						<li>
							<input type="text" placeholder="Postal Code" />
						</li>
					</ul>
					<input type="submit" value="Update Total" class="flat-btn" />
				</div><!-- Cart  -->
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
