<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>FAQ's Page</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>FAQ's</li>
	</ul>
	<div class="main-content-area">
		<div class="collapse-sec">
			<div id="accordian2" class="c-collapse">
				<h2><i class="ti-save-alt"></i>1 - Template Builder</h2>
				<div class="content">
					<p>Asunt in anim uis aute irure dolor in repreh enderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
				</div>
				<h2><i class="ti-ruler-alt-2"></i>2 - National Association</h2>
				<div class="content">
					<p>Asunt in anim uis aute irure dolor in repreh enderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
				</div>
				<h2><i class="ti-heart-broken"></i>3 - Legalweek Of law</h2>
				<div class="content">
					<p>Asunt in anim uis aute irure dolor in reprehe nderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
				</div>
				<h2><i class="ti-crown"></i>4 - The Lawyer General</h2>
				<div class="content">
					<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
				</div>
				<h2><i class="ti-camera"></i>5 - The Coded General</h2>
				<div class="content">
					<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
				</div>
				<h2><i class="ti-brush-alt"></i>6 - Template Builder</h2>
				<div class="content">
					<p>Asunt in anim uis aute irure dolor in repreh enderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
				</div>
				<h2><i class="ti-hummer"></i>7 - National Association</h2>
				<div class="content">
					<p>Asunt in anim uis aute irure dolor in repreh enderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
				</div>
				<h2><i class="ti-game"></i>8 - Legalweek Of law</h2>
				<div class="content">
					<p>Asunt in anim uis aute irure dolor in reprehe nderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
				</div>
				<h2><i class="ti-gift"></i>9 - The Lawyer General</h2>
				<div class="content">
					<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
				</div>
				<h2><i class="ti-alarm-clock"></i>10 - The Coded General</h2>
				<div class="content">
					<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
				</div>
			</div>
		</div><!-- Accordian -->
	</div>
</div><!-- Panel Content -->
