<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Portfolio</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Portfolio</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="mini-portfolio">
					<img alt="" src="http://placehold.it/270x345">
					<div class="portfolio-info">
						<span>Design</span>
						<h3>MUSHI is fully Hand Crafted Design</h3>
						<ul>
							<li class="open-image"><a class="html5lightbox" title=""><i class="fa fa-search"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div><!-- Portfolio Box -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="mini-portfolio">
					<img alt="" src="http://placehold.it/270x345">
					<div class="portfolio-info">
						<span>Design</span>
						<h3>We are the best Web Designer </h3>
						<ul>
							<li class="open-image"><a class="html5lightbox" title=""><i class="fa fa-search"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div><!-- Portfolio Box -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="mini-portfolio">
					<img alt="" src="http://placehold.it/270x345">
					<div class="portfolio-info">
						<span>Design</span>
						<h3>You can Check our Portfolio</h3>
						<ul>
							<li class="open-image"><a class="html5lightbox" title=""><i class="fa fa-search"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div><!-- Portfolio Box -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="mini-portfolio">
					<img alt="" src="http://placehold.it/270x345">
					<div class="portfolio-info">
						<span>Design</span>
						<h3>Best PSD Template ever on Web</h3>
						<ul>
							<li class="open-image"><a class="html5lightbox" title=""><i class="fa fa-search"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div><!-- Portfolio Box -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="mini-portfolio">
					<img alt="" src="http://placehold.it/270x345">
					<div class="portfolio-info">
						<span>Design</span>
						<h3>We are Creative for Creative</h3>
						<ul>
							<li class="open-image"><a class="html5lightbox" title=""><i class="fa fa-search"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div><!-- Portfolio Box -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="mini-portfolio">
					<img alt="" src="http://placehold.it/270x345">
					<div class="portfolio-info">
						<span>Design</span>
						<h3>Best way to make Multi purpose</h3>
						<ul>
							<li class="open-image"><a class="html5lightbox" title=""><i class="fa fa-search"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div><!-- Portfolio Box -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="mini-portfolio">
					<img alt="" src="public/images/resource/portfolio7.jpg">
					<div class="portfolio-info">
						<span>Design</span>
						<h3>Great Idea with Great Features</h3>
						<ul>
							<li class="open-image"><a class="html5lightbox" title=""><i class="fa fa-search"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div><!-- Portfolio Box -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="mini-portfolio">
					<img alt="" src="public/images/resource/portfolio8.jpg">
					<div class="portfolio-info">
						<span>Design</span>
						<h3>Yahoo! Mushi is Finally Live</h3>
						<ul>
							<li class="open-image"><a class="html5lightbox" title=""><i class="fa fa-search"></i></a></li>
							<li><a title="" href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div><!-- Portfolio Box -->
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
