<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Product Page</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Products</li>
	</ul>
	<div class="main-content-area">
		<div class="product-sec">
			<div class="row">
				<div class="col-md-3 col-sm-6">		
					<div class="product-box">
						<div class="product-thumb">
							<img src="http://placehold.it/270x371" alt="" />
							<a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
						</div>
						<h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
						<span class="price">$34.00</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="product-box">
						<div class="product-thumb">
							<img src="http://placehold.it/270x371" alt="" />
							<a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
						</div>
						<h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
						<span class="price">$34.00</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="product-box">
						<div class="product-thumb">
							<img src="http://placehold.it/270x371" alt="" />
							<a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
						</div>
						<h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
						<span class="price">$34.00</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="product-box">
						<div class="product-thumb">
							<img src="http://placehold.it/270x371" alt="" />
							<a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
						</div>
						<h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
						<span class="price">$34.00</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">		
					<div class="product-box">
						<div class="product-thumb">
							<img src="http://placehold.it/270x371" alt="" />
							<a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
						</div>
						<h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
						<span class="price">$34.00</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="product-box">
						<div class="product-thumb">
							<img src="http://placehold.it/270x371" alt="" />
							<a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
						</div>
						<h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
						<span class="price">$34.00</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="product-box">
						<div class="product-thumb">
							<img src="http://placehold.it/270x371" alt="" />
							<a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
						</div>
						<h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
						<span class="price">$34.00</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="product-box">
						<div class="product-thumb">
							<img src="http://placehold.it/270x371" alt="" />
							<a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
						</div>
						<h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
						<span class="price">$34.00</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
