<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Single Post</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Single Post</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="blog-single">
					<div class="blog">
						<div class="blog-thumb">
							<img src="http://placehold.it/1170x480" alt="" />
						</div>
						<div class="blog-info">
							<a href="javascript:void(0)" title="">25/05/2015</a>
							<h2>Mentorship – Pathway to Success.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit <a href="javascript:void(0)" title=""> dignissim</a>. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate. Sed in nulla ut elit mollis posuere. Praesent a felis accumsan neque interdum molestie ut id massa. In hac habitasse platea dictumst. Nulla ut lorem ante. In convallis, felis eget consequat faucibus, mi diam consequat augue, quis porta nibh leo a massa. Sed quam nunc, vulputate vel imperdiet vel, aliquet sit amet risus. Maecenas nec tempus velit. Praesent gravida mi et mauris sollicitudin ultricies. Duis molestie quam sem, ac faucibus velit. Curabitur dolor dolor, fringilla vel fringilla tempor, ultricies sed tellus. </p>
							<p>
								Cras aliquet, nulla a feugiat adipiscing, mi enim ornare nisl, eu pellentesque nunc diam eu purus. Aliquam a arcu ac arcu aliquam vulputate ac a diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris <a href="javascript:void(0)" title="">sollicitudin</a> commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate. Sed in nulla ut elit mollis posuere.
							</p>
							<blockquote>
								<p>Voulpat dolor sit amet, consectetuer adipiscing elit. Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
								<span>Directed By : <a title="" href="javascript:void(0)">Jonathan Doe</a></span>
							</blockquote>
							<p>
								Cras aliquet, nulla a feugiat adipiscing, mi enim ornare nisl, eu pellentesque nunc diam eu purus. Aliquam a arcu ac arcu aliquam vulputate ac a diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris <a href="javascript:void(0)" title="">sollicitudin</a> commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate. Sed in nulla ut elit mollis posuere.
							</p>
							<div class="post-gallery">
								<div class="row">
									<div class="col-md-5">
										<img alt="" src="http://placehold.it/281x249">
									</div>
									<div class="col-md-7">
										<img alt="" src="http://placehold.it/481x303">
									</div>
								</div>
							</div>
							<p>
								Cras aliquet, nulla a feugiat adipiscing, mi enim ornare nisl, eu pellentesque nunc diam eu purus. Aliquam a arcu ac arcu aliquam vulputate ac a diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate. Sed in nulla ut elit mollis posuere.
							</p>
							<div class="post-tags">
								<span><i class="fa fa-tags"></i> Tags :</span>
								<a title="" href="javascript:void(0)">Admin</a>,
								<a title="" href="javascript:void(0)">Web Design</a>,
								<a title="" href="javascript:void(0)">Numberstheme</a>,
								<a title="" href="javascript:void(0)">Cool</a>,
								<a title="" href="javascript:void(0)">Responsive</a>,
								<a title="" href="javascript:void(0)">Hello</a>,
								<a title="" href="javascript:void(0)">Parallax</a>,
							</div>
						</div>
					</div>
				</div><!-- BLog Single -->
				<div class="related-post">
					<div class="heading3">
						<h3>Related Post</h3>
						<span>Easy to Customize</span>
					</div>
					<div class="blog-sec">
						<div class="row">
							<div class="col-md-4">
								<div class="blog">
									<div class="blog-thumb">
										<a href="javascript:void(0)" title=""><img src="http://placehold.it/370x345" alt="" /></a>
									</div>
									<div class="blog-info">
										<a href="javascript:void(0)" title="">25/05/2015</a>
										<h2><a href="javascript:void(0)" title="">The Great wall of China</a></h2>
										<p>Becoming an expert in your career or achieving success<a href="javascript:void(0)" title="">[more]</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="blog">
									<div class="blog-thumb">
										<a href="javascript:void(0)" title=""><img src="http://placehold.it/370x345" alt="" /></a>
									</div>
									<div class="blog-info">
										<a href="javascript:void(0)" title="">25/05/2015</a>
										<h2><a href="javascript:void(0)" title="">History always be writtern</a></h2>
										<p>Becoming an expert in your career or achieving success <a href="javascript:void(0)" title="">[more]</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="blog">
									<div class="blog-thumb">
										<a href="javascript:void(0)" title=""><img src="http://placehold.it/370x345" alt="" /></a>
									</div>
									<div class="blog-info">
										<a href="javascript:void(0)" title="">25/05/2015</a>
										<h2><a href="javascript:void(0)" title="">I am there, here & every</a></h2>
										<p>Becoming an expert in your career or achieving success <a href="javascript:void(0)" title="">[more]</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- Related Post -->
				<div class="comment-form">
					<div class="heading3">
						<h3>Add your Comment</h3>
						<span>Easy to Customize</span>
					</div>
					<form>
						<div class="row">
							<div class="col-md-12">
								<label>
									<i class="fa fa-user"></i>
									<input type="text" placeholder="Name">
								</label>
							</div>
							<div class="col-md-12">
								<label>
									<i class="fa fa-at"></i>
									<input type="text" placeholder="Email Id">
								</label>
							</div>
							<div class="col-md-12">
								<label>
									<i class="fa fa-pencil"></i>
									<textarea placeholder="Your Message"></textarea>
								</label>
							</div>
							<div class="col-md-12">
								<button class="theme-btn" type="submit">POST NOW</button>
							</div>
						</div>
					</form>
				</div><!-- Comment Form -->
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
