<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Slider Examples</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Slider Examples</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="widget">
					<div class="widget-title">
						<h3>Single Item</h3>
					</div>
					<div class="with-padding">
						<ul class="slick-slider" id="slick1">
							<li><h3>Slide 1</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 2</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 3</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget">
					<div class="widget-title">
						<h3>Multiple Items</h3>
					</div>
					<div class="with-padding">
						<ul class="slick-slider" id="slick2">
							<li><h3>Slide 1</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 2</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 3</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 4</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 5</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 6</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 7</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="widget">
					<div class="widget-title">
						<h3>Responsive Display</h3>
					</div>
					<div class="with-padding">
						<ul class="slick-slider" id="slick3">
							<li><h3>Slide 1</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 2</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 3</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 4</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 5</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 6</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 7</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 8</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
							<li><h3>Slide 9</h3><p>Simply add a dependency on matthiasmullie/minify to your composer.json file if you use Composer to manage the dependencies of your project:</p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
