<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Tabular Table</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Tabulat Table</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="widget white">
					<div id="wrapper2">									  
						<table id="keywords" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<th><span>Keywords</span></th>
									<th><span>Impressions</span></th>
									<th><span>Clicks</span></th>
									<th><span>CTR</span></th>
									<th><span>Rank</span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="lalign">silly tshirts</td>
									<td>6,000</td>
									<td>110</td>
									<td>1.8%</td>
									<td>22.2</td>
								</tr>
								<tr>
									<td class="lalign">desktop workspace photos</td>
									<td>2,200</td>
									<td>500</td>
									<td>22%</td>
									<td>8.9</td>
								</tr>
								<tr>
									<td class="lalign">arrested development quotes</td>
									<td>13,500</td>
									<td>900</td>
									<td>6.7%</td>
									<td>12.0</td>
								</tr>
								<tr>
									<td class="lalign">popular web series</td>
									<td>8,700</td>
									<td>350</td>
									<td>4%</td>
									<td>7.0</td>
								</tr>
								<tr>
									<td class="lalign">2013 webapps</td>
									<td>9,900</td>
									<td>460</td>
									<td>4.6%</td>
									<td>11.5</td>
								</tr>
								<tr>
									<td class="lalign">ring bananaphone</td>
									<td>10,500</td>
									<td>748</td>
									<td>7.1%</td>
									<td>17.3</td>
								</tr>
							</tbody>
						</table>
					</div> 
				</div>
			</div>		
		</div>
	</div>
</div><!-- Panel Content -->
