<div class="panel-content">
	<div class="main-title-sec">
		<div class="row">
			<div class="col-md-3 column">
				<div class="heading-profile">
					<h2>Timeline</h2>
					<span>Welcome back, John</span>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>New User</p>
						<h5>17,561</h5>
					</div>
					<span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
				</div>
				<div class="top-bar-chart">
					<div class="bar-chart-details">
						<p>My Balance</p>
						<h5>$21,561.01</h5>
					</div>
					<span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
				</div>
				<div class="quick-btn-title">
					<a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
					<a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<ul class="breadcrumbs">
		<li><a href="javascript:void(0)" title="">Home</a></li>
		<li>Timeline</li>
	</ul>
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="widget no-padding blank">
					<div class="timeline-sec">
						<ul>
							<li>
								<div class="timeline">
									<div class="user-timeline">
										<span><img src="http://placehold.it/40x40" alt="" /></span>
									</div>
									<div class="timeline-detail">
										<div class="timeline-head">
											<h3>Jonathan Gardel<span>2 min ago</span><i class="red">Admin</i></h3>
											<div class="social-share">
												<a title=""><i class="ti-sharethis"></i></a>
												<ul class="social-btns">
													<li><a title="Facebook" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-facebook"></i></a></li>
													<li><a title="Google" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-google"></i></a></li>
													<li><a title="Twitter" data-toggle="tooltip"  data-placement="left" href="javascript:void(0)"><i class="ti-twitter"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="timeline-content">
											<p>Set it as the font <a href="javascript:void(0)" title="">John Doe</a> in your applition, and copy and paste the icons. Print this page.</p>
											<div class="progress w-tooltip">
												<div style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" class="purple progress-bar">
													<span><i>uploading</i>70%</span>
												</div>
											</div>
											<div data-toggle="buttons" class="btn-group btn-group-sm">
												<label class="btn btn-default">
													<input type="radio" checked=""  name="options" /><i class="ti-comments"></i> Reply
												</label>
												<label class="btn btn-default">
													<input type="radio"  name="options" /> <i class="ti-thumb-up"></i> Like
												</label>
											</div>
											<form class="post-reply">
												<textarea placeholder="Write your comment"></textarea>
												<i class="ti-comments"></i>
											</form>
										</div>
									</div>
								</div>
							</li>
							
							<li>
								<div class="timeline">
									<div class="user-timeline">
										<span><img src="http://placehold.it/40x40" alt="" /></span>
									</div>
									<div class="timeline-detail">
										<div class="timeline-head">
											<h3>Yameen khandil<span>2 hours ago</span><i class="purple">Mod</i></h3>
											<div class="social-share">
												<a title=""><i class="ti-sharethis"></i></a>
												<ul class="social-btns">
													<li><a title="Facebook" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-facebook"></i></a></li>
													<li><a title="Google" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-google"></i></a></li>
													<li><a title="Twitter" data-toggle="tooltip"  data-placement="left" href="javascript:void(0)"><i class="ti-twitter"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="timeline-content">
											<p>at <a href="javascript:void(0)" title="">Khana Zidi</a> Jonathan DOe Uploaded 4 new photos.</p>
											<div class="timeline-gallery">
												<ul>
													<li><a title="Gallery Image" class="html5lightbox"><i class="ti-zoom-in"></i><img src="http://placehold.it/70x70" alt="" /></a></li>
													<li><a title="Gallery Image" class="html5lightbox"><i class="ti-zoom-in"></i><img src="http://placehold.it/70x70" alt="" /></a></li>
													<li><a title="Gallery Image" class="html5lightbox"><i class="ti-zoom-in"></i><img src="http://placehold.it/70x70" alt="" /></a></li>
													<li><a title="Gallery Image" class="html5lightbox"><i class="ti-zoom-in"></i><img src="http://placehold.it/70x70" alt="" /></a></li>
												</ul>
											</div>
											<div data-toggle="buttons" class="btn-group btn-group-sm">
												<label class="btn btn-default">
													<input type="radio" checked=""  name="options" /><i class="ti-comments"></i> Reply
												</label>
												<label class="btn btn-default">
													<input type="radio"  name="options" /> <i class="ti-thumb-up"></i> Like
												</label>
											</div>
											<form class="post-reply">
												<textarea placeholder="Write your comment"></textarea>
												<i class="ti-comments"></i>
											</form>
										</div>
									</div>
								</div>
							</li>
							
							<li>
								<div class="timeline">
									<div class="user-timeline">
										<span><img src="http://placehold.it/40x40" alt="" /></span>
									</div>
									<div class="timeline-detail">
										<div class="timeline-head">
											<h3>Brindal Dazi<span>4 min ago</span><i class="green">User</i></h3>
											<div class="social-share">
												<a title=""><i class="ti-sharethis"></i></a>
												<ul class="social-btns">
													<li><a title="Facebook" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-facebook"></i></a></li>
													<li><a title="Google" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-google"></i></a></li>
													<li><a title="Twitter" data-toggle="tooltip"  data-placement="left" href="javascript:void(0)"><i class="ti-twitter"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="timeline-content">
											<p>Set it as the font <a href="javascript:void(0)" title="">John Doe</a> in your applition, and copy and paste the icons. Print this page to PDF for te completet of vectors. Or to use othe the Font Aweo Awesome</p>
											<div data-toggle="buttons" class="btn-group btn-group-sm">
												<label class="btn btn-default">
													<input type="radio" checked=""  name="options" /><i class="ti-comments"></i> Reply
												</label>
												<label class="btn btn-default">
													<input type="radio"  name="options" /> <i class="ti-thumb-up"></i> Like
												</label>
											</div>
											<form class="post-reply">
												<textarea placeholder="Write your comment"></textarea>
												<i class="ti-comments"></i>
											</form>
										</div>
									</div>
								</div>
							</li>

						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
