<div id="live-chat">
    <div class="clearfix chat-header">
        <a class="chat-close">-</a>
        <h4>Labrina Scholar</h4>
        <span class="chat-message-counter">3</span>
    </div>
    <div class="chat" style="display:none;">
        <div class="chat-history">
            <div class="chat-message">
                <img src="http://placehold.it/40x40" alt="" width="32" height="32" />
                <div class="chat-message-content">
                    <span class="chat-time">11:54</span>
                    <h5>John Doe</h5>
                    <p>Lorem ipsum dolor. Error, explicabo quasi ratione odio dolorum harum.</p>
                </div>
                <!-- end chat-message-content -->
            </div>
            <!-- end chat-message -->
            <div class="chat-message">
                <img src="http://placehold.it/40x40" alt="" width="32" height="32" />
                <div class="chat-message-content">
                    <span class="chat-time">12:43</span>
                    <h5>Marco Biedermann</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <!-- end chat-message-content -->
            </div>
            <!-- end chat-message -->
            <div class="chat-message">
                <img src="http://placehold.it/40x40" alt="" width="32" height="32" />
                <div class="chat-message-content">
                    <span class="chat-time">12:23</span>
                    <h5>John Doe</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
                <!-- end chat-message-content -->
            </div>
            <!-- end chat-message -->
        </div>
        <!-- end chat-history -->
        <p class="chat-feedback">Your partner is typing…
            <img src="public/images/typing-loading.gif" alt="" />
        </p>
        <form action="#" method="post">
            <fieldset>
                <input type="text" placeholder="Type your message…" autofocus>
                <input type="hidden">
            </fieldset>
        </form>
    </div>
    <!-- end chat -->
</div>
<!-- end live-chat -->
<div class="panel-content">
    <div class="main-title-sec">
        <div class="row">
            <div class="col-md-3 column">
                <div class="heading-profile">
                    <h2>Dashboard 3</h2>
                    <span>Welcome back, John</span>
                </div>
            </div>
            <div class="col-md-9 column">
                <div id="reportrange" class="date-range">
                    <i class="fa fa-calendar-o"></i>
                    <span></span> <b class="caret"></b>
                </div>
                <div class="quick-btn-title">
                    <a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
                    <a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Heading Sec -->
    <ul class="breadcrumbs">
        <li><a href="javascript:void(0)" title="">Home</a></li>
        <li><a href="javascript:void(0)" title="">Dashboard 3</a></li>
    </ul>
    <div class="main-content-area">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <div class="quick-report-widget style2 white">
                        <i class="fa fa-area-chart"></i>
                        <span>New Visits</span>
                        <h4>21,069</h4>
                        <div class="progress">
                            <div class="progress-bar red-bg" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                60%
                            </div>
                        </div>
                        <h5>Total Visits : 9,34,001</h5>
                    </div>
                </div>
                <!-- Widget -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <div class="quick-report-widget style2 white">
                        <i class="fa fa-clock-o"></i>
                        <span>New Signups</span>
                        <h4>1,346</h4>
                        <div class="progress">
                            <div class="progress-bar blue-bg" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                40%
                            </div>
                        </div>
                        <h5>Total Users : 22,344</h5>
                    </div>
                </div>
                <!-- Widget -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <div class="quick-report-widget style2 white">
                        <i class="fa fa-user"></i>
                        <span>Todays Earning</span>
                        <h4>2,345</h4>
                        <div class="progress">
                            <div class="progress-bar skyblue-bg" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                70%
                            </div>
                        </div>
                        <h5>Total Earning : $345,00</h5>
                    </div>
                </div>
                <!-- Widget -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <div class="quick-report-widget style2 white">
                        <i class="fa fa-usd"></i>
                        <span>Real Visitors</span>
                        <h4 class="number">123</h4>
                        <div class="progress">
                            <div class="progress-bar green-bg" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                                55%
                            </div>
                        </div>
                        <h5>Total Visitors : 235,670</h5>
                    </div>
                </div>
                <!-- Widget -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="visitor-chart">
                                <span>TODAY VISIT</span>
                                <h3>2,980</h3>
                                <ul>
                                    <li class="all">VISIT (ALL)</li>
                                    <li class="mob">VISIT (MOBILE)</li>
                                </ul>
                                <div id="flot-sp1ine" style="height:203px"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="visit-table">
                                <ul>
                                    <li class="table-head">
                                        <h2 class="location">Location</h2>
                                        <h2 class="visit">Visits</h2>
                                    </li>
                                    <li>
                                        <span class="location">
                                            <img src="public/images/resource/us-flag.jpg" alt="" />United States</span><i class="visit">2298</i></li>
                                    <li>
                                        <span class="location">
                                            <img src="public/images/resource/china-flag.jpg" alt="" />China</span><i class="visit">13244</i></li>
                                    <li>
                                        <span class="location">
                                            <img src="public/images/resource/turkey-flag.jpg" alt="" />Turkey</span><i class="visit">234</i></li>
                                    <li>
                                        <span class="location">
                                            <img src="public/images/resource/australia-flag.jpg" alt="" />Australia</span><i class="visit">2345</i></li>
                                    <li>
                                        <span class="location">
                                            <img src="public/images/resource/india-flag.jpg" alt="" />India</span><i class="visit">756</i></li>
                                    <li>
                                        <span class="location">
                                            <img src="public/images/resource/brazil-flag.jpg" alt="" />Brazil</span><i class="visit">65570</i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="widget blank no-padding">
                    <div class="carousal-widget">
                        <ul id="simple-carousel">
                            <li>
                                <i class="ti-headphone"></i>
                                <h3>
                                    <strong>Steve Jobs</strong> Time Capsu le` is Finally Unearthed on
                                    <strong>Skyace News</strong>
                                </h3>
                                <div class="carousal-avatar">
                                    <span>
                                        <img src="http://placehold.it/53x53" alt="" />
                                    </span>
                                    <h3>JAFIR DOE</h3>
                                    <i>Admin Moderator</i>
                                </div>
                            </li>
                            <li>
                                <i class="ti-paint-roller"></i>
                                <h3>
                                    <strong>Steve Jobs</strong> Time Capsu le` is Finally Unearthed on
                                    <strong>Skyace News</strong>
                                </h3>
                                <div class="carousal-avatar">
                                    <span>
                                        <img src="http://placehold.it/53x53" alt="" />
                                    </span>
                                    <h3>Jonathan Ranij</h3>
                                    <i>Theme Developer</i>
                                </div>
                            </li>
                            <li>
                                <i class="ti-crown"></i>
                                <h3>
                                    <strong>Steve Jobs</strong> Time Capsu le` is Finally Unearthed on
                                    <strong>Skyace News</strong>
                                </h3>
                                <div class="carousal-avatar">
                                    <span>
                                        <img src="http://placehold.it/53x53" alt="" />
                                    </span>
                                    <h3>Bella Nikolin</h3>
                                    <i>Web Designer</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget blank no-padding">
                    <div class="carousal-widget fb-carousel">
                        <ul id="fb-carousel">
                            <li>
                                <i class="ti-facebook"></i>
                                <h3>
                                    <strong>John Doe</strong> Biggest time et` We are going on here
                                    <strong>Place Taker</strong>
                                </h3>
                                <span>12 March 2016</span>
                                <div class="fb-status">
                                    <div><i class="fa fa-thumbs-up"></i> 345</div>
                                    <div><i class="fa fa-comment-o"></i> 786</div>
                                </div>
                            </li>
                            <li>
                                <i class="ti-facebook"></i>
                                <h3>
                                    <strong>John Doe</strong> Biggest time et` We are going on here
                                    <strong>Place Taker</strong>
                                </h3>
                                <span>12 March 2016</span>
                                <div class="fb-status">
                                    <div><i class="fa fa-thumbs-up"></i> 345</div>
                                    <div><i class="fa fa-comment-o"></i> 786</div>
                                </div>
                            </li>
                            <li>
                                <i class="ti-facebook"></i>
                                <h3>
                                    <strong>John Doe</strong> Biggest time et` We are going on here
                                    <strong>Place Taker</strong>
                                </h3>
                                <span>12 March 2016</span>
                                <div class="fb-status">
                                    <div><i class="fa fa-thumbs-up"></i> 345</div>
                                    <div><i class="fa fa-comment-o"></i> 786</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget blank">
                    <div class="twitter-widget">
                        <div class="twitter-avatar">
                            <img src="http://placehold.it/600x402" alt="" />
                            <h3>@NataliaQueenart <i class="ti-check skyblue-bg" title="Verified" data-toggle="tooltip" data-placement="top"></i></h3>
                            <span>Creative Graphic Designer</span>
                        </div>
                        <ul>
                            <li>Followers
                                <span>88,900</span>
                            </li>
                            <li>Following
                                <span>2,090</span>
                            </li>
                            <li>Tweets
                                <span>409</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="widget white no-padding">
                    <div class="widget-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" data-target="#tab1">Comments</a></li>
                            <li><a data-toggle="tab" data-target="#tab2">Forum Threads</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <ul class="user-comments" id="comment-scroll">
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                            <ul class="edit-remove">
                                                <li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
                                                <li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
                                            </ul>
                                        </div>
                                        <h3>Denise Steiner <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                                        <i>2 min ago</i>
                                    </li>
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                            <ul class="edit-remove">
                                                <li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
                                                <li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
                                            </ul>
                                        </div>
                                        <h3>Donald Desusa <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                                        <i>6 min ago</i>
                                    </li>
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                            <ul class="edit-remove">
                                                <li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
                                                <li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
                                            </ul>
                                        </div>
                                        <h3>Suitir Note <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                                        <i>1 hour ago</i>
                                    </li>
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                            <ul class="edit-remove">
                                                <li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
                                                <li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
                                            </ul>
                                        </div>
                                        <h3>Dansir lake <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                                        <i>2 min ago</i>
                                    </li>
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                            <ul class="edit-remove">
                                                <li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
                                                <li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
                                            </ul>
                                        </div>
                                        <h3>Lantin rode <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                                        <i>1 month ago</i>
                                    </li>
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                            <ul class="edit-remove">
                                                <li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
                                                <li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
                                            </ul>
                                        </div>
                                        <h3>Norton line <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                                        <i>6 month ago</i>
                                    </li>
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                            <ul class="edit-remove">
                                                <li><a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="right" class="edit"><i class="ti-pencil"></i></a></li>
                                                <li><a href="javascript:void(0)" title="Remove" data-toggle="tooltip" data-placement="right" class="remove"><i class="ti-trash"></i></a></li>
                                            </ul>
                                        </div>
                                        <h3>Kukurela Done <i>commented on</i> <a href="javascript:void(0)" title="">Article Name</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                                        <i>1 year ago</i>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab2" class="tab-pane fade">
                                <ul class="forum-threads" id="forum-scroll">
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                        </div>
                                        <a title="">Lorem ipsum dolor sit amet</a>
                                        <h3><i>started by</i> Denise Steiner <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
                                        <i>2 min ago</i>
                                    </li>
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                        </div>
                                        <a title="">Lorem ipsum dolor sit amet</a>
                                        <h3><i>started by</i> Jonathan Doe <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
                                        <i>1 month ago</i>
                                    </li>
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                        </div>
                                        <a title="">Lorem ipsum dolor sit amet</a>
                                        <h3><i>started by</i> Bella Nikon <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
                                        <i>3 min ago</i>
                                    </li>
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                        </div>
                                        <a title="">Lorem ipsum dolor sit amet</a>
                                        <h3><i>started by</i> Benzil Lona <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
                                        <i>1 year ago</i>
                                    </li>
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                        </div>
                                        <a title="">Lorem ipsum dolor sit amet</a>
                                        <h3><i>started by</i> Senial Bonak <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
                                        <i>2 week ago</i>
                                    </li>
                                    <li>
                                        <div class="user-avatar">
                                            <span>
                                                <img src="http://placehold.it/53x53" alt="" />
                                            </span>
                                        </div>
                                        <a title="">Lorem ipsum dolor sit amet</a>
                                        <h3><i>started by</i> Bentina gaze <i>in</i> <a href="javascript:void(0)" title="">Forum  Name</a></h3>
                                        <i>6 month ago</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget">
                    <div class="widget-title">
                        <h3>Vector Map</h3>
                        <span> distance stats...</span>
                        <div class="widget-controls">
                            <span class="close-content"><i class="fa fa-trash-o"></i></span>
                            <span class="expand-content"><i class="fa fa-expand"></i></span>
                            <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                        </div>
                        <!-- Widget Controls -->
                    </div>
                    <div class="vector-map">
                        <div id="vmap"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget no-padding blank">
                    <div class="timeline-sec">
                        <ul>
                            <li>
                                <div class="timeline">
                                    <div class="user-timeline">
                                        <span>
                                            <img src="http://placehold.it/40x40" alt="" />
                                        </span>
                                    </div>
                                    <div class="timeline-detail">
                                        <div class="timeline-head">
                                            <h3>Jonathan Gardel
                                                <span>2 min ago</span><i class="red">Admin</i></h3>
                                            <div class="social-share">
                                                <a title=""><i class="ti-sharethis"></i></a>
                                                <ul class="social-btns">
                                                    <li><a title="Facebook" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-facebook"></i></a></li>
                                                    <li><a title="Google" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-google"></i></a></li>
                                                    <li><a title="Twitter" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-twitter"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <p>Set it as the font <a href="javascript:void(0)" title="">John Doe</a> in your applition, and copy and paste the icons. Print this page.</p>
                                            <div class="progress w-tooltip">
                                                <div style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" class="purple progress-bar">
                                                    <span><i>uploading</i>70%</span>
                                                </div>
                                            </div>
                                            <div data-toggle="buttons" class="btn-group btn-group-sm">
                                                <label class="btn btn-default">
                                                    <input type="radio" checked="" name="options" /><i class="ti-comments"></i> Reply
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="options" /> <i class="ti-thumb-up"></i> Like
                                                </label>
                                            </div>
                                            <form class="post-reply">
                                                <textarea placeholder="Write your comment"></textarea>
                                                <i class="ti-comments"></i>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="timeline">
                                    <div class="user-timeline">
                                        <span>
                                            <img src="http://placehold.it/40x40" alt="" />
                                        </span>
                                    </div>
                                    <div class="timeline-detail">
                                        <div class="timeline-head">
                                            <h3>Yameen khandil
                                                <span>2 hours ago</span><i class="purple">Mod</i></h3>
                                            <div class="social-share">
                                                <a title=""><i class="ti-sharethis"></i></a>
                                                <ul class="social-btns">
                                                    <li><a title="Facebook" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-facebook"></i></a></li>
                                                    <li><a title="Google" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-google"></i></a></li>
                                                    <li><a title="Twitter" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-twitter"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <p>at <a href="javascript:void(0)" title="">Khana Zidi</a> Jonathan DOe Uploaded 4 new photos.</p>
                                            <div class="timeline-gallery">
                                                <ul>
                                                    <li><a title="Gallery Image" class="html5lightbox"><i class="ti-zoom-in"></i><img src="http://placehold.it/70x70" alt="" /></a></li>
                                                    <li><a title="Gallery Image" class="html5lightbox"><i class="ti-zoom-in"></i><img src="http://placehold.it/70x70" alt="" /></a></li>
                                                    <li><a title="Gallery Image" class="html5lightbox"><i class="ti-zoom-in"></i><img src="http://placehold.it/70x70" alt="" /></a></li>
                                                    <li><a title="Gallery Image" class="html5lightbox"><i class="ti-zoom-in"></i><img src="http://placehold.it/70x70" alt="" /></a></li>
                                                </ul>
                                            </div>
                                            <div data-toggle="buttons" class="btn-group btn-group-sm">
                                                <label class="btn btn-default">
                                                    <input type="radio" checked="" name="options" /><i class="ti-comments"></i> Reply
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="options" /> <i class="ti-thumb-up"></i> Like
                                                </label>
                                            </div>
                                            <form class="post-reply">
                                                <textarea placeholder="Write your comment"></textarea>
                                                <i class="ti-comments"></i>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="timeline">
                                    <div class="user-timeline">
                                        <span>
                                            <img src="http://placehold.it/40x40" alt="" />
                                        </span>
                                    </div>
                                    <div class="timeline-detail">
                                        <div class="timeline-head">
                                            <h3>Brindal Dazi
                                                <span>4 min ago</span><i class="green">User</i></h3>
                                            <div class="social-share">
                                                <a title=""><i class="ti-sharethis"></i></a>
                                                <ul class="social-btns">
                                                    <li><a title="Facebook" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-facebook"></i></a></li>
                                                    <li><a title="Google" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-google"></i></a></li>
                                                    <li><a title="Twitter" data-toggle="tooltip" data-placement="left" href="javascript:void(0)"><i class="ti-twitter"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <p>Set it as the font <a href="javascript:void(0)" title="">John Doe</a> in your applition, and copy and paste the icons. Print this page to PDF for te completet of vectors. Or to use othe the Font Aweo Awesome</p>
                                            <div data-toggle="buttons" class="btn-group btn-group-sm">
                                                <label class="btn btn-default">
                                                    <input type="radio" checked="" name="options" /><i class="ti-comments"></i> Reply
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="options" /> <i class="ti-thumb-up"></i> Like
                                                </label>
                                            </div>
                                            <form class="post-reply">
                                                <textarea placeholder="Write your comment"></textarea>
                                                <i class="ti-comments"></i>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Panel Content -->